[2016-08-01 21:05] codingdave opened #35 "Possible regressions"
Hi,

I was using taglib-sharp with f-spot some years ago and usually all my jpgs were imported flawlessly. Now I am running the latest f-spot github revision (it runs taglib-sharp as a git submodule) and the  import of some images is failing. The first one I present here for analyzing the error was definitively understood by earlier versions of taglib-sharp (included with f-spot).

![e9db5d80-029f

[2016-09-01 18:43] codingdave opened #36 "System.OverflowException in IFDReader.CreateIDFEntry"
For a range of pictures taken with the same camera taglib-sharp was failing with an OverflowException.
This is one example image: ![img](https://cloud.githubusercontent.com/assets/3075641/18179800/6d9c37d2-7084-11e6-8271-6cdb9ef0eed1.jpg)
This is the exception I get when using f-spot to import that image:
![overflowexception](https://cloud.githubusercontent.com/assets/3075641/18179789/62253e30-708

[2016-09-01 20:36] codingdave commented on #36
I have created a pull request that fixes this issue. #37

[2016-09-01 20:49] codingdave commented on #36
Im not sure what the intention of the code is due to the lack of comments. I feel like there is a better way to fix this, e.g. checking if the size of the 'bytevector' is larger than the 'type's maximal value and depending on that changing the type... or calling a new function 'ByteVector.ToSShort()' or something else.

[2016-09-06 19:39] #36 closed

[2016-09-06 19:40] codingdave commented on #35
Since this is the only image I have had with that problem I fixed it manually using exiftools and imported it again.

[2016-09-06 19:40] #35 closed

[2016-10-01 13:05] castilma opened #40 "Make a new release"
Hey guys,
since 2012 there hasn't been any new release and I wonder why. Don't you feel that there have been enough changes since then?

I'm asking, because the changes since 2.1 have not been imported in the Ubuntu package. And if I had to guess, I'd say it's because there is no newer release here in the upstream.
(I asked at launchpad: https://answers.launchpad.net/ubuntu/+source/taglib-sharp/+q

[2016-10-04 10:09] twon33 commented on #40
Yes, please. I grabbed the most recent package from NuGet and promptly got burned by [an XmlException issue](https://github.com/mono/taglib-sharp/commit/98cc8772e870c5c254c81bb4b1f33bc92dfc3c3b) that was fixed in August 2012.

[2016-10-04 14:13] decriptor commented on #40
@castilma I'm sure there are plenty of changes. An update hasn't been made partly because no one has really been maintaining this repository. I'll see what I can do and try to create a release by the end of the week.

[2016-10-04 21:50] castilma commented on #40
Thank you very much!

[2016-10-04 23:51] decriptor commented on #40
@castilma I took a quick glance at the existing PRs. I'm going to see if I can clear some of them out and then try to get a release going. I figure we may as well get as many fixes is as we can ;)

[2016-10-05 10:56] alanmcgovern commented on #40
We should add a makefile target to build the nupkg to make it easier to ship new builds. Then we can contact kzu to get the nuget updated. He seems to own that package.

[2016-11-06 21:49] Ollowain87 opened #41 "Fehlermeldung beim nutzen in App"
Hallo,
ich will eine UWP App programmieren in der ich die Metadaten von Musikdateien auslesen. Ich habe taglip eingebunden und in einem normalen Programm funktioniert der Code auch aber in der App nicht.
Hier der Code, der Fehler tritt "Dim Musikdatei As TagLib.File = TagLib.File.Create(Datei.Path)" hier auf.
Dim folder As StorageFolder
Private Async Sub menuItem_Open_Explorer()
    Dim ordnerAusw

[2016-11-06 22:14] Ollowain87 opened #42 "Versuche taglib 2.1 per nuget einzufürgen ubd bekomme folgende Fehlermeldung"
Hallo,

ich bekomme folgende Fehelrmeldung wenn ich Versuche per Nuget die taglib einzubinden
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
Install-Package : taglib 2.1.0 is not compatible with UAP,Version=v10.0.
In Zeile:1 Zeichen:1
+ Install-Package taglib
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    + FullyQualifiedError

[2016-11-10 17:04] Ollowain87 commented on #42
Hallo,

has nobody a answer?

[2016-11-10 17:05] Ollowain87 commented on #41
Hallo,
has nobody a answer?

[2016-11-10 17:20] decriptor commented on #41
Sorry, I don't understand what you are asking.

[2016-11-10 17:21] decriptor commented on #42
Sorry, I don't understand what you are asking.

[2016-11-11 20:55] Ollowain87 commented on #41
Hi, I want to program a UWP app, where I read the metadata of music files. I have included taglip and in a normal program the code work but in the app he didnt work.
Here is the Code, the error is on this part.
"Dim Musikdatei As TagLib.File = TagLib.File.Create(Datei.Path)"

Dim folder As StorageFolder
Private Async Sub menuItem_Open_Explorer()
Dim ordnerAuswählen = New Pickers.FolderPicker()
ord

[2016-11-11 21:05] Ollowain87 commented on #42
Hallo,

I have VS 2015 community with Windows SDK for Universal Apps installed on a Windows 10 Pro x64 OS. Everytime I try to install taglib Sharp using NuGet, I get the following error.
"Install-Package : taglib 2.1.0 is not compatible with UAP,Version=v10.0with"

[2016-11-13 10:38] mkitby opened #44 "Remove user text frame"
Hello，

At first, add 2 user text fames,

[code]

Then I want to remove only frame1, but seems it doesn't work with the following code,
[code]

[2016-11-18 08:45] FoxSD opened #45 "REPLAYGAIN"
Hi!
AppleTag.cs
can make better use of the  **replaygain_track_peak** ?(currently **REPLAYGAIN_TRACK_PEAK**)

[2016-12-04 13:09] castilma commented on #40
So, how is it going?

[2016-12-04 20:59] decriptor commented on #40
Sorry, I completely dropped the ball on this. I'll try and make it a higher priority.

[2016-12-15 07:12] lokinfey opened #46 "Taglib sharp in Xamarin"
<img width="1280" alt="screen shot 2016-12-15 at 3 08 48 pm" src="https://cloud.githubusercontent.com/assets/4607663/21214914/b097adfe-c2d8-11e6-93bf-84c9328ff444.png">

this is a problem . I want to read flac in Xamarin.iOS but give this error

[2016-12-15 14:11] jimpierson opened #47 "Asf DescriptionRecord incorrectly parses and renders Bool values as 4 bytes"
The ASF Specification (Revision 01.20.05 June 2010) states that BOOL values are 2 bytes long (WORD). The library is reading and writing them as DWORD.

[2017-01-07 08:07] zabulus opened #48 "netstandart assembly?"
Do you plan to add netstandart package or will  you accept PRs for this?

[2017-01-22 19:01] bardware opened #49 "Is information 'Encoding settings' available?"
There's a tool `MediaInfo` that allows to see every meta information stored in a media file.
For MP3 files encoded with `LAME` it shows LAME's version and the command string.
Is this information avaliable through taglib?
![20170121_mediainfo](https://cloud.githubusercontent.com/assets/802702/22184974/def7626c-e0dc-11e6-86b6-7018b7bf2d3d.PNG)

[2017-01-23 07:29] Vasilich commented on #49
this information is stored in each MP3 frame, not in tags.
This information CAN also be written in ID2v2 tag:
`Software/Hardware and settings used for encoding (TSSE):   LAME 3.97 -V2 --vbr-new`
but if you just remove this tag (TSSE), it won't mean that you remove info from MP3 frames.

[2017-01-24 19:36] Starwer opened #50 "Poster field"
Hi Team,

I'm working on a project, in C#, that will show the poster of a movie-file in Windows explorer icon (thumbnail) instead of a random frame of the movie. For that, the Poster need to be stored in the metadata of the video file. Needless to say, TagLib sharp is the enabler for this project.
I have already a proof of concept running with TagLib#, storing a poster as an URI in the Performer f

[2017-02-04 08:02] PeoLeser opened #51 "Cannot get correct AAC ADTS bitrate"
The encoder is `qaac 2.55, CoreAudioToolbox 7.10.6.0, AAC-LC Encoder, TVBR q127, Quality 96`

[2017-02-04 08:20] PeoLeser commented on #51
The correct bitrate should be computed by `sizeof("mdat") * 8 / Duration` instead of read from the header.

[2017-02-04 18:52] decriptor commented on #51
@PeoLeser any chance I could talk you into writing a unit test for this and documenting the unit test? Or even better the unit test and a fix? :)

[2017-02-05 03:29] PeoLeser commented on #51
@decriptor I have uploaded the unit test.Thanks for your attention.
[AAC_Test.zip](https://github.com/mono/taglib-sharp/files/752719/AAC_Test.zip)

[2017-02-09 21:57] aalitor opened #52 "How to get TOC entries to seek position for a VBR mp3?"
I couldn't find any help about getting TOC. How can I get table of contents if it exists in mp3?

[2017-02-10 19:46] stax76 commented on #42
https://msdn.microsoft.com/en-us/magazine/dn973012.aspx

https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard

[code]

[2017-02-11 15:01] lesderid commented on #40
So err, any progress?

[2017-02-19 10:46] Starwer commented on #50
Hi Team,

As there is not so much reaction to this request, I assume that this project is more in maintenance mode, i.e. people keep it alive but nobody really develops anymore. I will then do this poster field addition myself to TagLib#. All I am asking then is:
Would you be opposed to integrate, when done, this change to the main-stream TagLib# ?

Hope to get in contact with you...

[2017-03-15 13:21] tschmidleithner opened #54 "Adding tag of type IPTCIIM not supported!"
Hello,

I am currently working on a C# application where I want to enable editing of some specific image metadata. Basically, I am using the following code which serves as an example for my problem:
[code]
Whenever the comment field (or keywords field) is not part of the image metadata, a System.NotImplementedException is raised with "Adding tag of type IPTCIIM not supported!" for `image.EnsureAva

[2017-03-17 02:49] tcHylmrX commented on #54
I would like to hear what the answer is as well.

________________________________
From: Thomas Schmidleithner <notifications@github.com>
Sent: Wednesday, March 15, 2017 6:21:39 AM
To: mono/taglib-sharp
Cc: Subscribed
Subject: [mono/taglib-sharp] Adding tag of type IPTCIIM not supported! (#54)

Hello,

I am currently working on a C# application where I want to enable editing of some specific image

[2017-03-22 16:07] castilma commented on #40
I just hope the release doesn't come after hl3.

[2017-03-23 21:54] decriptor commented on #40
I'm so sorry. I'll try and find some time to figure this out and pull together a release :)

[2017-04-04 17:27] willkara opened #60 "Porting to .NET Core."
I was wondering if there's any plans on porting to the .NET Core spec.

We would probably want to create a new project possibly under Mono or another account. What is everyone's thoughts on this?

I've already started looking at it and it looks like porting it wouldn't be a problem.

[ApiPortAnalysis.xlsx](https://github.com/mono/taglib-sharp/files/893961/ApiPortAnalysis.xlsx)

[2017-04-05 06:34] PeterHagen commented on #60
I didn’t test everything, but I took the source and added it to a .Net Core project. It worked out of the box as far as I can tell

[2017-04-05 10:54] goguvi opened #61 "XMP TAG in byte[] image"
Is there any way to edit XMP tags in a byte[] image?

[2017-04-05 11:40] willkara commented on #60
@PeterHagen , if you have a branch and push it up. I could help you test it/look at everything.

[2017-04-05 17:35] decriptor commented on #60
If possible I think it'd be great to make this a .net standard library.

[2017-04-06 07:06] PeterHagen commented on #60
I made a few more changes to get it working, then I remembered, but I’ll see if I can make a commit out of it, by merging my changes with the latest commit. Will try this weekend.

[2017-04-06 17:48] willkara commented on #60
@PeterHagen , awesome! Looking forward to testing it out.

[2017-05-08 05:38] decriptor commented on #40
Ok, I finally got the travis-ci build going again. I'll look at getting a release going next.

[2017-05-10 14:20] vincentjenks opened #63 "NuGet install fails regardless of .NET version"
I'm not able to install the package via NuGet for any version of .NET. I've tried 4 through 4.7 on both Visual Studio 2015 and 2017, and always get this message:

[2017-05-28 15:37] cvdevol opened #64 "Shouldn't TRCK etc. be a string rather than a UInt?"
Here is very the beginning of  one of my mp3 files. I set the tags using the "mp3tag" application:

ID3.....N.TALB.......01-InfinithityTPE1.......Chris DevolTCON.......RockTIT2.......Hidey HoleTRCK.......01TXXX.......MP3GAIN_MINMAX.137,188TXXX.......MP3GAIN_ALBUM_MINMAX.127,191TXXX.......MP3GAIN_UNDO.+002,+002,NTXXX...#...replaygain_track_gain.-2.710000 dBTXXX.......replaygain_track_peak.0.729617T

[2017-05-31 15:30] calumfasetto commented on #60
Have there been any updates to this? A branch that can be pushed perhaps?

[2017-05-31 20:31] PeterHagen commented on #60
Just let me know how :)

[2017-06-12 13:38] PeoLeser commented on #51
Due to the definition in the latest ISO specification, the "avgBitrate" box should be zero if using VBR. Close.

[2017-06-12 13:38] #51 closed

[2017-06-20 22:03] DasBiest commented on #40
any news?

[2017-07-02 14:41] Starwer opened #65 "Pictures in MKV"
Apparently, setting/getting a Tag.Pictures field on a MKV file is not possible.

Would it be possible to add support to Pictures in MKV (in Matroska world: Attachments) ?
If not, shall I do it myself (will it then be integrated to this project) ?

[2017-07-03 20:49] Starwer opened #66 "Is TagLib-Sharp dead ?"
Looking at #40, it seems like the owner (Decriptor?) has no time anymore to spend on TagLib-sharp.

I'm really ready to contribute. This project is great, and my own project would really benefit from this Library. But its support to videos format is too limited for my use. If I could extend it, it would benefit to the community, not only my own project.
But before I start, I want to make sure I'm

[2017-07-03 20:51] Starwer commented on #50
Eventually, I found my way through... This issue can be closed.

[2017-07-03 20:51] #50 closed

[2017-07-03 21:33] decriptor commented on #66
@Starwer I'm not sure I really "own" this project, but I pay some limited attention to it. It is also used in one of my projects. I've somewhat adopted the policy that if you include unit tests with the PR an they pass I'll more than likely merged the PR.

[2017-07-03 21:56] decriptor commented on #65
If you want to submit a PR with the support and unit tests I'd be happy to include it in this project.

[2017-07-03 21:59] Starwer commented on #66
Thanks for your reply, and I'm glad to read that :)
Sounds like a fair deal. I'll then create a PR (I guess it stands for Pull Request) about improving the Matroska video fomat (to be realy write-able, and to support Attachments).
There is  only one problem: I work on Windows, and the Nunit tests do not seem to work there. Plus: there is no test yet for Mkv files. I'll try to find my way there...

[2017-07-04 03:34] tcHylmrX commented on #66
I still use the library too.

[2017-08-15 20:19] Starwer commented on #65
I didn't know where this project would lead me to.
Finally, I did slightly more than ading basic picture support, and developped a full support for Matroska in TagLib# (and support of VS 2015 Windows). I believe this is a big plus for this Library, and that it will revive some activity on this great project.
Looking forward to hear your comments, and hope you can integrate it.

[2017-08-15 21:19] decriptor commented on #65
Can you reference this issue in the PR?

[2017-08-15 21:24] decriptor commented on #60
Now that .net standard 2.0 has been released I'd like to take a serious look at porting this to `2.0`.

[2017-08-16 17:42] PeterHagen commented on #60
Good plan. I did a quick test after installing the new VS 2017 15.3, and created a new project and solution with .net standard 2.0. The code builds without any messages. I then tried to upgrade the test project. NUnit is supported, but I get a message about the Gdk namespace, on the ImageTest class. So, I need the gdk-sharp and glib-sharp project, but not sure where to get it

So, converting it is

[2017-08-16 19:35] decriptor commented on #60
mmm, that'll be interesting. I'll have to look into that. Those come from gtk-sharp and likely the gtk-sharp 2.12 branch -> github.com/mono/gtk-sharp

[2017-08-16 19:36] decriptor commented on #60
Thinking about it though, we don't necessarily need the test projects to be .net standard 2.0 anyways... at least I don't think we would?

[2017-08-17 08:33] Starwer commented on #66
Looking at the activity on PR #68, I'm happy to see that TagLib# is **not** dead.
Still, no release in 5 years is not a good sign. Seems to me like we miss a group of trusted people to support the project and take the responsibility to integrate/release the change.
Don't get me wrong, I understand and like this organic structure where all people can willingly contribute to the project. Still I thi

[2017-08-17 09:10] PeterHagen commented on #60
The cool part about .net standard 2 (or .net core 2), that now I can reference the current package from nuget, without it being .net standard. So, for me it means I don’t have to build it from source anymore. But it would be create if the nuget package will be updated with the latest version, and preferable to .netstandard2.

About the tests, you could presume that if the test run positive on .net

[2017-08-17 13:23] Starwer commented on #64
In my opinion, the track number should be presented to the user as Uint. But indeed, I agree that not having the leading zeros may be annoying. I'd suggest that the written TRCK tags (as string) are by default a two digit-zero-filled number (01, 02, 03...). I already use this approach in #68 for mkv tags.

[2017-08-17 17:18] Starwer opened #69 "RFC: New Tag property"
TagLibSharp deeply inherits from TagLib, which was initially targeting MP3 ID3 tags only. This legacy is visible in the choice of properties names/selection available in the base Tag class of TagLibSharp. Actually, with the addition of more Tag-formats and especially the support of Videos, I have the impression we should precise and extend the set of available Tag properties to handle the Videos b

[2017-08-20 19:26] PeterHagen commented on #60
I made a fork of the repository and updated it solution and project file. If you want to try it, here is the url: https://github.com/PeterHagen/taglib-sharp <https://github.com/PeterHagen/taglib-sharp>

[2017-08-26 15:50] cvdevol commented on #64
The problem is that sorting integer-valued track numbers is funky. Having the track numbers as strings padded with leading zeros to make them all the same length makes sorting proper.

[2017-09-06 17:22] decriptor commented on #65
@Starwer Can this be closed now?

[2017-09-06 18:22] Starwer commented on #65
Integrated in PR #68. Pictures are fully supported in MKV now.

[2017-09-06 18:22] #65 closed

[2017-09-06 18:25] Starwer commented on #66
As seen how the PR #68  was handled, I happy to conclude that TagLib# is not dead :)
So this issue can be closed.

[2017-09-06 18:25] #66 closed

[2017-09-08 09:57] Starwer commented on #40
@decriptor: Is Travis taking care of the release as well ? Especially release as a Nuget package ?

[2017-09-13 10:16] Starwer commented on #69
I've started the development of this feature.

[2017-09-13 15:36] vtavernier opened #70 "[Ogg] Support for METADATA_BLOCK_PICTURE"
According to the [xiph.org wiki](https://wiki.xiph.org/VorbisComment#Cover_art), the currently recommended way to store pictures as part of an Ogg Vorbis file is through the `METADATA_BLOCK_PICTURE` field. Values of this field are base64 encoded values following the FLAC specification for embedded pictures.

The wiki also mentions the existence of the *deprecated* and *unofficial* `COVERART` field

[2017-09-13 17:37] Starwer commented on #70
Good initiative !
I would have a preference for 2.ii. although for 2.ii it is probably simpler to store everything in the same TagLib.FLAC.Picture or TagLib.Picture array from the File reading. Then you have only one object class/collection to handle. This should make it also easier for the end-user.

[2017-09-13 21:45] vtavernier commented on #70
Thanks for the input!
Currently the XiphComment class only stores a list of string[] which represent the raw field values stored in the file. Although this means there is virtually no need for tracking state (especially if the user uses the GetField and SetField methods directly), property getters and setters can be quite expensive (in the case of the Pictures property, this involves decoding the

[2017-09-14 07:45] Starwer commented on #70
It seems like 2.ii. still stores both  `COVERART` and `METADATA_BLOCK_PICTURE`...
In my opinion, the most efficient architecture would be to store only `Picture[]` (as a field) in the `Tag`.
Only at the end of the File.CreateFile() call you convert all the base64 `COVERART` and `METADATA_BLOCK_PICTURE` to populate Picture[] field (and you dispose the former base64 fields). Only in the Tag.Render()

[2017-09-14 13:08] vtavernier commented on #70
Sorry, my mistake, the branches were swapped, this is fixed now.

:+1: for the initial parsing of the `COVERART` / `METADATA_BLOCK_PICTURE` and only writing it during the `Render` method call. The `FieldCount` property would need changing too, as it is based on the total number of elements in the `field_list` dictionary values.

Detecting user changes to the target fields is easy as all field acce

[2017-09-14 14:44] vtavernier commented on #70
Implemented lazy approach in [vtavernier:metadata-block-picture-lazy](https://github.com/mono/taglib-sharp/compare/master...vtavernier:metadata-block-picture-lazy) (tests to be added)

[2017-09-14 14:44] Starwer commented on #70
Hey ! That would be really cool ! Great idea !
If you encapsulate this lazy load into the Picture class, for example by adding a new constructor `public Picture (File, long position, long length)`, a lot of other format may make use of it. I'd happily do the Matroska adaption to make use of it. We just must be careful to make sure to read the Pictures before we write these (when calling `File.Save

[2017-09-19 12:30] vtavernier commented on #70
This would be very interesting in order to reduce the memory stress while scanning a lot of files. Running a memory profiler on taglib-sharp reveals a lot of allocations of `byte[]` objects from `ByteVectors` as well as strings. If a solution is implemented for `Picture`s, other fields should be able to benefit from it. I think this is out of the scope of this particular issue though.

[2017-09-19 21:11] jamsoft commented on #60
This definitely gets my vote!

[2017-09-19 21:20] jamsoft opened #74 "Supporting BEXT / iXML Data"
I've recently found this library after fighting with my own custom Riff parsers and would be really interested in getting stuck into helping extend the library.  The major features missing for me at the moment are reading these BEXT (Broadcast Wave Data - https://en.wikipedia.org/wiki/Broadcast_Wave_Format) and the standard iXML data (http://www.gallery.co.uk/ixml/).

As I'm still feeling my way a

[2017-09-21 09:58] Starwer commented on #74
Hi @jamsoft,
The Riff implementation uses the CombinedTag class. It means that whatever format supported by this class can contain multiple tag-format.
I think the good way to start is to add a BEXT directory which contains a File.cs and Tag.cs, inheriting from the `TagLib.File` and `TagLib.Tag`. The new tag type (BEXT) should be added to the Riff class the same way as Id3v2 or DivX. Looking at on

[2017-09-23 16:40] jamsoft commented on #74
Excellent chap!!  Much appreciated.  I'll get to look at this maybe tomorrow as I've been wanted to get this one licked for a while now.  Thanks again.

[2017-09-24 07:36] jamsoft commented on #74
Actually, from looking at the code a bit more I'm slightly confused why I would need to create a new directory/ File.cs combination.  Broadcast Wave files (BWF) are all RIFF/WAV files.  And the BEXT/iXML is a standard chunk in RIFF files.  All the Tags which I want to implement belong to the Riff file type.  There are quite a few bits to add to the LIST tag for instance.

I'm heavily involved in p

[2017-09-24 07:44] jamsoft commented on #74
I'm also a bit confused about the testing methodology, there doesn't appear to be a single .WAV file in the \tests\samples directory.

[2017-09-24 08:18] jamsoft commented on #74
I'm also unable to run the unit tests due to a BadImageFormatException when loading GTK# I already have 2.12 installed.

Really not sure how to fix this one, any advice?

[2017-09-24 09:30] jamsoft commented on #74
I may just have to work in my own local Repo actually.  There are a lot of problems with the source code as it is.  There are many formatting issues and having the root class called File causes collisions with the .NET built in File type.  I just turned ReSharper analysis on and it's freaked out.  lol -1800 code issues.

There also seems to be code dating from way back that is basically re-inventi

[2017-09-24 14:15] jamsoft commented on #74
I'm honestly having a complete nightmare working with this source code.  Visual Studio  hates it.

I have a list of 589 compiler errors like:

Error	CS0115	'AppleTag.Album': no suitable method found to override	\src\TagLib\Mpeg4\AppleTag.cs	699	Active

[2017-09-25 11:34] FoxSD opened #75 "MPEG4: covertype is always PictureType.FrontCover"
file Mpeg4/AppleTag.cs, Line 1535  p.Type = PictureType.FrontCover;

So it should be?

[2017-09-25 15:14] Starwer commented on #74
All this probably means that nobody worked on a dedicated wav-friendly implementation yet. That makes your contribution even more appreciated! Don't hesitate to create a (dummy) wav file for supporting your test (beware of size and copyright). Recoding 3 seconds of nothingness should make the trick for example. If this is really wav-specific, then you can create a FileFormats test instead of a Tag

[2017-09-25 15:40] jamsoft commented on #42
@decriptor this you should just close this one. :)

[2017-09-25 15:45] jamsoft commented on #74
No problem chap.  I've made MANY tests and I have the core of this working now, reading and writing.  The BEXT chunk is historical really, BEXT data is now formalised somewhat and included in the iXML spec.

I have a large pool of wav files at my disposal, some are very narly to deal with and I still have some issues with those and their various chunks to iron out.

One test file I have been worki

[2017-09-26 04:44] decriptor commented on #42
taglib-sharp might be UAP compatible, but you'd have to build from source. With .NET Standard 2.0 I'm hoping to revisit moving this library over to that in the future.

[2017-09-26 04:44] #42 closed

[2017-09-26 08:58] jamsoft commented on #74
@Starwer You can close this ticket now, I'm pretty clear on the requirements.

[2017-09-26 08:58] #74 closed

[2017-09-28 19:44] jamsoft opened #76 "WAV File Chunk Handling ?PMX"
I've been spending quite a bit of time lately working on the WAV handling code and it's fair to say that I've found a lot of issues.  There are many, many things throwing it off reading the RIFF files accurately.

Currently I'm looking at issues with the _PMX chunk which is a variant of the XMPTag from Adobe for audio files.  As soon as TagLib~ encounters one of these the stream reading is out of

[2017-09-29 12:15] jamsoft commented on #76
I've nailed down the issue.  RIFF chunks should always be an even number of bytes.

This _XMP chunk is not an even number of bytes so a null/0 byte is appended after the chunk data.  This byte is not included in the chunk data size but this ensures that the next chunk in the file starts on a word boundary.

[2017-10-01 20:06] jamsoft commented on #76
To be honest the state of Metadata management has not improved in the pro audio field.  I used to own a recording studio and have a lot of contacts in the industry.

The big boys mentioned in that study have a vested interest in their own monopoly.

Take the iXML chunk I'm looking at ... the standards site that controls that chunk is a mess.  There are multiple versions of the standard and the dif

[2017-10-01 21:12] tcHylmrX commented on #74
If we can agree on a ReSharper format to use, I would like to go through and do some cleanup.

From: Jammer [mailto:notifications@github.com]
Sent: Sunday, September 24, 2017 2:31 AM
To: mono/taglib-sharp <taglib-sharp@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mono/taglib-sharp] Supporting BEXT / iXML Data (#74)

I may just have to work in my own local Repo a

[2017-10-02 18:27] Starwer commented on #74
I don't understand this. I don't have mono, and I run it successfully on Visual Studio 2015 by just following the indications in README file. It reports 0 error/warning.

[2017-10-02 18:35] Starwer commented on #76
Pity that you closed this issue... I would have like to know the outcome of this ripping...
Reading between the line, I guess you dropped TagLib# for BWF Meta Edit ?

[2017-10-03 01:24] decriptor commented on #76
I'll reopen it, but you guy can close it again if you want.

[2017-10-05 16:43] rboy1 commented on #69
Moving it over:

If we are adding new tags for supporting video (which I really like), here are some of the most commonly used tags used by video players and DVR systems across the world today:

1. Title (present)
2. Subtitle
3. Genre (multiple/array or semicolon delineated) (present?)
4. Network or Channel (present?)
5. Description (present)
6. Credits (multiple/array or semicolon delineated) (pr

[2017-10-05 20:00] Starwer commented on #64
The Integration of #68 gives a good trade-off between Uint use and the alphabetical sorting in the different tagging applications.

[2017-10-05 20:50] Starwer commented on #69
Currently, I think the current implementation (after integration of #71) covers points: 1, 2, 3, 5, 7, 8.
Remains:
 4. Network or Channel

 6. Credits (multiple/array or semicolon delineated)

9. String to indicate type (movie, tv series, sports, news, documentary etc)

10. Recorded Date and Time (UTC format?)
11. Broadcast Date and Time (UTC format?)
12. Premiere Date and Time (UTC format?)

13.

[2017-10-08 10:21] jamsoft commented on #76
No I'm still working on it.  It's quite the headache!  BWF Meta Edit is an app so I cannot use it in the context I need too, even if I wanted to.

[2017-10-09 11:36] jamsoft commented on #74
To be honest there is a lot of formatting issues imho.  The layout of the project file and namespacing doesn't follow standards.  If you add a new tag class VS will add a class in a namespace like TagLib.TagLib.Riff.xxxxx.  BOOM problems.  This is all an overhang from early mono days and is completely understandable.

The coding style looks like Javascript and I have to fight with VS to maintain t

[2017-10-09 18:48] Starwer commented on #74
Ok, I didn't realize there were such a strong coding-style requirement from the C# dev community. In comparisons to the projects I've been part of in many programming and scripting languages, I found that the code was looking pretty good, and well structured, especially when we think of how many voluntary contributors are involved. That's probably because I've seen too many ugly codes from people

[2017-10-11 01:35] elfalem commented on #69
Instead of specifying individual tag names, it might be best to expose a general interface that allows reading and writing all types of tags. This way, the choice of what tags to use and what names they have are left to the consumer of this library. I think the design and architecture of the python [mutagen](https://mutagen.readthedocs.io/en/latest/) project is quite informative for this project.

[2017-10-11 09:14] Starwer commented on #69
@elfalem : You absolutely right, we must keep focus on the user-interface, and derive the internals from that. But don't get me wrong, that's what we are doing here. I only mentioned Matroska as an inspiration of what could be the useful tags to add for Videos (and indeed, also as a reference for arbitrary names that can be used for the less well defined other standards).
Mutagen is yet another we

[2017-10-12 01:45] elfalem commented on #69
@Starwer I agree tag support for videos is pretty much nonexistent compared to audio. The task of creating a standard set of properties is also challenging since music is a specific type of audio while video could be movies, shows, music videos, sporting events, etc... I think this challenge could be avoided by taking the same approach as mutagen.

Instead of defining properties such as `file.Tag.

[2017-10-12 08:40] jamsoft commented on #74
There are methods in the code that do exactly the same things as built in Framework code.  For instance in Tag.cs there is this method:

[code]
Its not really a big issue but it is a bit odd as there are usages of string.IsNullOrEmpty() in the code as well.  But then I think this has been left in due to most contributors just building on top of these.  This is absolutely a hang over from the early

[2017-10-12 15:10] Starwer commented on #74
`IsNullOrLikeEmpty(" ")` will return true, whereas `string.IsNullOrEmpty(" ")` will return false. In that sense, these are not exactly equivalent.

Nice ! I didn't know about this feature. I'll try to use it now if I create a new class.

[2017-10-13 09:43] Starwer commented on #69
@elfalem : I see what you mean now... this is the usual custom-tag VS standard tags debate. Let me elaborate on that.

Let's accept our (or is it just mine) ambitions for TagLib#. If it becomes the first free library enabling to tag properly the videos of all types, which is now only a couple of man.days away, more and more softwares should start using it, instead of spending month of efforts to d

[2017-10-13 11:18] FasettoAndrew commented on #60
Could the forked repo be added to NuGet as a seperate package? When I try and install the existing TagLib# NuGet package into a blank .net standard class library project I get and error and it rolls back the installation.

[2017-10-14 10:07] jamsoft commented on #74
Sorry, I meant:

[code]

Also a note of warning.  The guys that wrote NUnit went on to create xUnit as they didn't like the [SetUp] and [TearDown] constructs as it meant tests weren't atomic and this lead to bad practice.

https://xunit.github.io/docs/comparisons.html

Note 2: The xUnit.net team feels that per-test setup and teardown creates difficult-to-follow and debug testing code, often causin

[2017-10-14 18:20] elfalem commented on #69
@Starwer Thank you for listing detailed reasons. I also do hope that TagLib# becomes the go-to library for tagging audio and video files for .NET projects. However, I maintain that attempting to dictate a standard for tagging is not the best approach. If/when tagging video files becomes popular, a consensus will emerge on tagging conventions. Regardless, I do hope the best for this project.

[2017-10-14 18:37] FasettoAndrew commented on #60
I have build and push the fork made by @PeterHagen to NuGet.org. You can view here:
https://www.nuget.org/packages/taglib-sharp-netstandard2.0/2.1.0

Hopefully this is ok. Let me known if there is any problems with this or the NuGet package.

[2017-10-15 08:02] Starwer commented on #74
@jamsoft : Interesting reading. So eventually, no, I won't use `SetUp` and `TearDown`.
So for factorizing, the good old function/method is the way to go.
What I don't understand, is why developers seems to think that factorizing in the production code is important, and don't complain about lake of readability, whereas they seems to think that boiler plate and redundant code is preferable in tests.

[2017-10-15 08:24] Starwer commented on #69
@elfalem : BTW, TagLib# already supports custom tags for most (if not every) format, but it is per-format. What would be missing is only a abstraction of the custom-tags. This could be done, although I still think it has lower priority to the support of standard tags (but if there are volunteers, please go ahead !).
In my experience, when we let everyone do the things as they want, and then try to

[2017-10-15 10:46] nicman23 opened #77 "Make does not sign taglib-sharp.dll"
Resulting, after a clean and error-less make, to not being able to install the dll in the global assembly

[code]

Arch linux, Mono 5.0.100

e: tried building older commits that i know installed/ compiled correctly and i have the same problem. Mono issue?

[2017-10-16 00:51] elfalem commented on #69
I searched for examples of how a custom tag is set but was unable to find examples. Can you provide a sample of how this could be done currently (for example for a flac vorbis tag)?

I'm interested in contributing to the implementation of an abstracted custom-tags support although I understand it would have low priority. There are other areas such as the port to dotnet core and writing documentati

[2017-10-16 00:58] elfalem commented on #60
Thanks @PeterHagen  and @FasettoAndrew. I was able to reference and use the NuGet package from a .net core 2 project on Linux using VS Code.

[2017-10-16 18:34] Starwer commented on #69
@elfalem : That's true, there are some hidden gems in TagLib# that are not properly documented...

This snippet should make your day:
`rgFile = File.Create("my_file.flac");
var custom = (TagLib.Ogg.XiphComment) rgFile.GetTag(TagTypes.Xiph);
custom.SetField("MY_TAG", new string[] { "value1", "value2" });
string [] myfields = custom.GetField("MY_TAG");
custom.RemoveField("OTHER_FIELD");
rgFile.Save(

[2017-10-16 23:51] elfalem commented on #69
@Starwer Thanks so much for you help! I will take a stab at this once #60 is merged.

[2017-10-17 06:40] supermihi commented on #48
See the discussion in #60

[2017-10-18 15:14] decriptor commented on #74
@jamsoft @Starwer @tcHylmrX I'd actually be really happy to see the code base cleaned up, but very carefully. Ie, don't turn resharper on and fix everything in one PR. That just isn't consumable :)

However, having said that... If someone wants to start going through and slowly cleaning things up in small PRs I'd be more than happy (along with others I'm sure) to review and merge them. I'd suggest

[2017-10-18 15:16] decriptor commented on #60
I'd love to know how that works out and if there are any issues. I'd love to just move this project over to .NET Standard 2.0. Anything before 2.0 seemed to be problematic due to the available API surface.

[2017-10-18 15:49] decriptor opened #78 "What should be the minimum .NET Framework version"
The thought is to move this to .NET Standard 2.0 which I think would be great. The downside (potentially?) is that I believe this would essentially push our minimum .NET Framework version. In this case I think it'd be 4.6.1 which is C# 6. (https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-standard-2-0/).

While I think it'd be great to use a lot of the newer c# 6 features and poten

[2017-10-19 09:48] Starwer commented on #64
To be more explicit, I recommend to close this issue, as I consider it solved.

[2017-10-19 09:49] Starwer commented on #69
@descriptor: Could this issue be labelled as "RFC"?

[2017-10-20 15:46] acDawn commented on #77
Anyone working on this issue?

[2017-10-20 16:01] decriptor commented on #77
@acDawn feel free to take a look at it if you want :)

[2017-10-21 08:33] Starwer commented on #78
To make it more clear, yes, it requires .NET 4.6.1.
This means that moving to .NET Standard 2.0 would phase out all compatibility with Windows Vista and older (https://docs.microsoft.com/en-us/dotnet/framework/get-started/system-requirements).

I didn't see a clear view on how it would make life easier on TagLib#. Getting code more compact is always a good thing, but I don't see it as a real drive

[2017-10-21 22:07] decriptor commented on #78
I guess that is part of the question. Is there value in still supporting anything like Vista and older? It would be nice to take advantage of some of the newer C# features. I don't have any numbers as to what and where people are using TagLib#.

[2017-10-22 08:18] Starwer commented on #78
Looking at this study: https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0
It looks like Vista (0.84%) support is not a strong argument.
I doubt people using XP (still 9.17% !) are using it as a multimedia center/manager (which would indicate a need for TagLib#).
Supporting Windows 7 is a must have (47.2%), but no problem for .NET 4.6.1.

But what are these ? If

[2017-10-24 20:09] Giantaxe commented on #78
Hello, a daily C# developer here. Also a user of this library.

There seems to be a slight misconception that targeting NET Standard 2.0 requires .NET 4.6.1
(Unless you plan on only targeting 1 framework, in that case NET Standard 2.0 actually requires you to target .NET 4.7.1 so you can load in the library into WPF, WinForm apps etc. )

Otherwise you will end up in .DLL hell
See: [https://blogs.m

[2017-10-27 11:42] babduljameel opened #79 "File Duration is wrong for some files"
using (var taglib = File.Create(path))
                {
                    return taglib.Properties.Duration;
                }
i tried to use the snippet to calculate mp3 file duration, but it gives me wrong file duration.

[2017-11-02 07:52] babduljameel commented on #79
any idea how to fix it

[2017-11-07 05:19] FoxSD commented on #79
try File.Create(path, ReadStyle.Average)

[2017-11-07 07:40] babduljameel commented on #79
Hi I tried with File.Create(path, ReadStyle.Average), but it gives same old wrong duration.

[2017-11-07 09:51] FoxSD commented on #79
really.
some other programs also gives wrong duration.
badly.

[2017-11-13 18:54] dpetit12345 opened #80 "Enumerating custom tags"
I'm having some trouble getting to the raw list of tags for a given file (for example, a FLAC file). I can find all of the names properties, but not the custom tags. Before I clone and start exposing private members to work around my issue, I wanted to reach out to see if anyone had examples of how to do this this the library as is. Specifically, I'd like to do something like this:

[code]

[2017-11-17 07:02] Starwer commented on #80
We discussed exactly this issue in #69 with @elfalem. There is a snipet there for the proper way to access XiphComment tags.
Basically we agreed that it would be more handy to access custom tags (Key/value pairs) in a generic way (i.e. get/set methods using virtualization).  It is now a matter of doing it.

[2017-11-17 13:11] dpetit12345 commented on #80
Thanks for the followup. I'll check it out an may take a stab at it's implementation.

[2017-11-23 22:28] hwahrmann commented on #79
i was looking at the above file. The reason for the wrong duration is the first frame in the mp3 file.
It seems it was encoded using ffmpeg with lavc57.3.
This encoder was inserting an Info frame as the first frame, which has the last byte of the frame header set to 0 and also the 3rd byte contains wrong information.
Therefore taglib is getting a wrong AudioBitrate, which is causing the duration t

[2017-12-02 22:14] kingy444 opened #81 "mchd box not found"
Could you please advise what causes the above error and if it is fixable from my end?

I can see from the code that the MovieHEaderBox parser is returning null - but what causes this to happen

`// Get the movie header box.
				IsoMovieHeaderBox mvhd_box = parser.MovieHeaderBox;
				if(mvhd_box == null) {
					Mode = AccessMode.Closed;
					throw new CorruptFileException (
						"mvhd box not foun

[2017-12-04 21:16] rodolforubens opened #82 "How to access the tag "Tags" on mp4 files?"
I'm trying to modify the tag named "Tags" on mp4 files but no success, I was able to access and modify the tag **Title** and **Comments** but no **Tags**, **Ratings** nor **Subtitles**..
Thanks in advance.

edit: I'm dealing with **.mp4** and **.jpg** files.

[2017-12-05 17:39] rodolforubens commented on #82
Btw, I need this so I can add a tag called "360", so I can upload photos and videos to Youtube/Facebook and they can detect that it is dealing with 360 stuff.

[2017-12-07 13:43] rodolforubens commented on #82
Ha, I was able to inject the metadata I needed on .jpg files so facebook can detect it as being a panorama/360 file!

But I'm still stuck on .mp4 files ([for youtube](https://github.com/google/spatial-media/blob/v2.0/docs/spherical-video-rfc.md)), I need access to this guy:
**_moov/trak/uuid[ffcc8263-f855-4a93-8814-587a02521fdd]_**

I think it lives on the ilst box, but I have no idea how to get t

[2017-12-10 21:35] ChrisJAllan commented on #77
Solution seems to be to add /keyfile:taglib-sharp.snk to the assembly step.
Patch:
[code]

[2017-12-11 19:43] nicman23 commented on #77
added in the aur package that i maintain, thanks :)

[2017-12-25 19:58] digimezzo opened #83 "Opus bitrate always returns 0"
The bitrate is hardcoded to 0.

public int AudioBitrate {
			get {return 0;}
		}

[2017-12-26 14:19] Clownfused commented on #82
No need for taglib-sharp to set the "Tags" property. You'll need to use this: https://www.nuget.org/packages/Microsoft.WindowsAPICodePack-Shell/ and then specifically look into this: shellFile.Properties.System.Keywords.Value -- The gotcha is that they use the term Keywords for coding and then in the details tab of a file it uses the term Tags. Apparently they are the same thing.

[2017-12-31 22:31] MosheL opened #84 "MP3 File with broken headers create a Stack Overflow"
File:
https://ufile.io/kmh8g

Problem:

AudioHeader.cs

    else if (AudioFrameLength > 0 && AudioBitrate > 0 ) {

When the headers is broken, it tries to calculate  AudioBitrate, but AudioBitrate itself is calculated via Duration (line 349), so on this file we created an loop of calls to AudioBitrate > Duration > AudioBitrate until Stack Overflow error and the whole app crashed..

[2018-01-04 05:15] claudiuslollarius commented on #78
An advantage of moving to .net standard (version 1.4 if possible since 2.0 cuts everything pre Fall Creators Update) would be having the library available on .net Core, UWP, as well as Xamarin in addition to traditional desktop .net

I am using a modified version of taglib for [my media tag editor](https://www.microsoft.com/store/productId/9P4XMLHZW8TG): having taglib-sharp available on UWP would

[2018-01-05 13:19] Lutando commented on #60
Any news on this yet?

[2018-01-05 13:26] windracer opened #85 "TagLib.File.Create() hangs because of the uint overflow"
Please check the file "taglib-sharp/src/TagLib/Riff/File.cs" (line 624, File.Read() function).

It has a loop of reading the file. The loop depends on 3 variables:
[code]
The loop condition is the following:
`while ((position += 8 + size) + 8 < length);`

For a particular WAV file where on the last part size is **4294967288**, and 8 + size overflows and gives 0 in the result, so the loop is going

[2018-01-05 14:21] #85 closed

[2018-01-12 11:11] Starwer commented on #60
Sorry, this didn't work for me.
I've tried to include the nugget package on Windows 7, Visual Studio 2015, .NET 4.6.1.
I guess I have to install Visual Studio 2017 ? If so, I'll give it a second try.

[2018-01-23 16:45] Starwer commented on #60
I've tried again with Visual Studio 2017 and .NET 4.6.1. It worked, but not together with https://github.com/dwmkerr/sharpshell, which is a "must have" requirement for my project. I guess sharpshell  is just not compatible with .NET Core.

[2018-01-29 21:46] decriptor commented on #78
I just wanted to bump this issues and post this (now building) .net standard 2.0 port (includes net40 support through multi-targeting) PR to get more eyes on this - https://github.com/mono/taglib-sharp/pull/88

[2018-02-26 18:10] decriptor commented on #60
.net standard 2.0 support has been merged into master now.

[2018-03-02 10:31] FasettoAndrew commented on #60
Has the official NuGet package been updated with this change?

[2018-03-06 10:42] MusicPartner opened #93 "MP4 Tag wrong format"
When adding a Tag (DashBox) the AppleAdditionalInfoBox has not the correct format, it looks like there are some 0 padding missing betwean BoxType & data

Ex (Wrong) (missing four 00 padding):  meancom.apple.iTunes
Ex (Correct) (has four 00 padding):  mean    com.apple.iTunes

Easy add tag and open with VLC and you will see part of tagname.

Is this a known issue?

[2018-03-06 10:45] nicman23 opened #94 "Cannot build in Arch Linux"
Compiler dies at:

[code]

[2018-03-07 01:30] mskurnik opened #95 "Duration vs data block length mismatch"
TagLib does not do a good job of detecting audio where the file or audio chunk is truncated.  There are often times where the header contains a value such as 90 seconds but when you play the audio there is only 10 seconds.

Initially I thought that there was no way to really detect this kind of mismatch using TagLib however I remembered I had a piece of code saved in LINQPad from [CodeProject](htt

[2018-03-07 11:22] MusicPartner opened #96 "MKV tags not showing up in VLC/MKVTool but in MediaInfo"
Hi, using the latest source and just adding some tags to a mkv video (20Mb) I can't see the Tags in:ffMpeg/MKVTool/VLC but I can see them in MediaInfo

![image](https://user-images.githubusercontent.com/25075372/37089658-a232af28-2201-11e8-8712-e90e3cf42af5.png)

![image](https://user-images.githubusercontent.com/25075372/37089809-2b175bc2-2202-11e8-9769-6af6aa1e88bf.png)

![image](https://user-im

[2018-03-07 20:11] Starwer commented on #96
Hi @MusicPartner.

I've already noticed that VLC was not so up-to-date with all the MKV tagging specs. It supports only basic flat hierarchy tagging.
It doesn't see the Tags/Tag if its Targets if not empty.
If a "Simple" is set several times (like when you have several ACTOR "Simple" Tag), it will see only the last one...
Long story short... VLC doesn't excels in MKV tags.
My advice: Try to make o

[2018-03-11 13:29] jamsoft opened #97 "Adding new LIST-INFO chunk corrupts file"
This is more of a question than an issue.

I'm currently looking at the InfoTag for WAV files.  Opening a file with an existing LIST-INFO chunk, editing the values and saving the file works fine.  No issues.

I can open the saved file in BWF MetaEdit / RIFFPad and see the changes.  I can also re-open the edited file and see the values without issue.

Doing the same with a file that didn't original

[2018-03-15 01:56] Qstick opened #98 "Add support for musicbrainz_releasegroupid tag"
Taglib already supports many Musicbrainz tags including artist id, release id, track id, however release group id is not one of them.

Definied here as written by picard: https://picard.musicbrainz.org/docs/tags/

Also, reference screenshot
![screenshot from 2018-03-14 02-45-41](https://user-images.githubusercontent.com/37365491/37394888-2112be16-2732-11e8-8221-04a22097917e.png)

[2018-03-19 19:13] Murzinio commented on #94
Same issue here.

[2018-03-22 02:00] dulfe commented on #94
_Disclaimer: I am not a Linux expert and I normally compile everything using Visual Studio._

The **TRAVIS** file shows **MSBUILD** instead of **MAKE** for compilation, also, in Linux "_mono_" is required, but _"mono_" does not know anything about "_dotnet core_", so you also need to install that to be able to compile it.

I was able to compile it in Linux doing the following:

**Dependencies**:
-

[2018-03-25 12:08] MariusBinary opened #100 "Lyrics3v2 Tag Support"
Why this library does not support the Lyrics3v2 Tag?

[2018-03-26 04:03] decriptor commented on #100
taglib-sharp is put together largely by people that have added the bits and pieces that they needed for their stuff.

If you have time and feel up to it we'd be happy if someone submitted support for Lyrics3v2 tags

[2018-04-08 15:12] TMily commented on #60
No ~~~

[2018-04-20 23:08] mskurnik opened #101 "Chunk with odd-sized length before the data chunk causes the data chunk to never be read"
All forks of TagLib# do not handle reading a chunk when the position value is odd.  This happens especially if `bext` (Broadcast Wave Format) chunks are present.  @jamsoft in [his fork](https://github.com/jamsoft/taglib-sharp), which he mentions in issue #74, addresses the Broadcast Wave Format but does not take into consideration odd sized chunks (nor does he handle null XML elements but that is

[2018-04-20 23:46] mskurnik commented on #101
It looks like this is also related to #76 (WAV File Chunk Handling ?PMX).  I am sorry I did not find this earlier before making this new issue otherwise I would have posted to it.

[2018-04-20 23:49] mskurnik commented on #76
This is actually very easy to fix.  I describe how to fix it in issue #101 by adding a single line of code in the `TagLib.Riff.Read` method.  Again, sorry for not seeing this before I posted my issue or I would have replied to this instead of creating a new issue.

[2018-04-20 23:57] mskurnik commented on #101
I was able to discover how to fix this with some code I found during a research phase on my project before decided to use TagLib. I found this over a year ago on [CodeProject](https://www.codeproject.com/Articles/10613/C-RIFF-Parser) (this code is almost 13 years old).  In the `RiffParser.ReadElement(...)` method it has a conditional check to provided a padded size to offset the word position.

Th

[2018-04-21 01:05] mskurnik commented on #40
I agree that a new release would be nice especially now that this supports Net Standard as I no longer have to use a fork of this.

[2018-04-21 06:29] jamsoft commented on #101
Yes, when I picked up and created my fork the WAV implementation is thoroughly broken.

The odd chunk size issue has never been implemented meaning that reading and writing WAV files doesn't work reliably.  I have been working on this but time has been limited.

There is a similar issue inside the process of writing LIST chunks as well.

[2018-04-21 20:01] victor-david opened #103 "Album tag not detected in .wav file"
When using TagLib to get tags from a .wav file, the Album tag is not detected.
[code]
When I run the above code, "No album tag" is displayed in the output window. However, the file does have an album tag as you can see in the Windows Explorer properties and other programs that show meta data. I've tried this on a directory of .wav files (about 32 files, all with an album assigned) and received the

[2018-04-21 20:27] victor-david commented on #103
A little more info. I modified my sample code:

[code]
The **second** time I run the above code, it displays "Album is MY NEW ALBUM". However, Windows Explorer and other programs that show meta data still show the original album. It's like TagLib is writing its Album property to some other place.

[2018-04-22 06:04] akb825 commented on #94
The problem is that the AssmeblyInfo.cs.in file was removed, but the Makefile code to process it and build the output file was still present.

Here's a patch that fixes the build on Linux. This incorporates both a fix for the lack of signing that another user already put in the Arch package, as well as the fix for the problem I mentioned above.

[code]

[2018-04-22 08:37] Starwer commented on #103
I was able to reproduce this issue with any random wav file tagged with Foobar2000.
The Album tag is not put in the Riff-`LIST` then, but instead an ID3 section is created at the end of the file. This `id3` tag at the end is beautifully ignored by the Riff-parser in `TagLib.Riff.File.Read`.

I don't know so much about audio tags and how this Riff part is supposed to work, so help from more experie

[2018-04-22 11:34] nicman23 commented on #94
thanks you for the patch, i am the maintainer of the arch package and i ll update it as soon as i test it

[2018-04-22 21:12] Starwer opened #104 "MPEG not supported"
When reading an MPG file which ends by a `TagLib.Mpeg.Marker.PaddingPacket` (0xBE), the `TagLib.File.Create()`  factory method just throws an exception.

A video to reproduce this issue can be downloaded at: https://files.scene.org/view/parties/2006/demozone06/anim/unclear_throat.mpg

[2018-04-24 18:42] nicman23 commented on #94
the patch is malformed but the compile works with the intended changes

[2018-05-06 16:25] Starwer commented on #104
[Edit: changed issue title]
Digging deeper: I cannot open any mpg/mpeg file with TagLib# without hitting the `CorruptFileException` exception. I've also tried some files that are even older than the code of the MPEG code (almost unchanged since the legendary @bnickel wrote it).

every times it gets to the same flow: the `TagLib.Mpeg.File.RFindMarker` is called and look up for the mysterious `Marke

[2018-05-06 20:17] bnickel commented on #104
***Disclaimer: I'm not in any way involved with the project and probably won't be much help.  Most of what I'm saying is off memory.***

That's curious.  The pattern we're looking for in RFindMarker is `00 00 01 ba`.  If I do a hex dump of unclear_throat, I can find one near the end at file position 7fd0000.  I'm not sure why RFind would fail here unless there's a bug maybe a long lingering bug in

[2018-05-06 20:35] bnickel commented on #103
When I wrote this code, there was no standard for storing ID3 information in RIFF files and I don't think anyone else was doing it.  Really, there still isn't a standard but some more common taggers are writing it and Windows is reading it.

I store my code in a section called `ID32` but it looks like [everyone else is using `ID3<space>` and `id3<space>`](https://github.com/Borewit/music-metadata/

[2018-05-07 05:48] Starwer commented on #103
Wow! That's more help than I was expecting. That's looks like a complete solution ! Thanks a lot @bnickel ! I'll definitly try this out !

[2018-05-07 06:04] Starwer commented on #104
@bnickel : Thanks a lot for this ! I really appreciate that you reply on a code that you don't control anymore, and after so many years. Your name figures on most of the files so you had quite an impact on this project, whatever was your originating involvment.
Your explanation is a great help to me for understanding the MPEG in general. This also makes the problem clear now. TagLib looks backward

[2018-05-07 17:03] victor-david commented on #103
Thanks @bnickel - I looked into the code myself, but don't know enough about how tags are stored to really learn anything. Your investigation is a big help.

[2018-05-09 17:28] Starwer commented on #104
@bnickel : Thanks to your support, I was able to fix the MPEG support in TagLib#. Thanks again for the help !

[2018-05-10 10:28] Starwer commented on #103
Thanks again  @bnickel: Ive implemented you proposal... and this indeed solves the issue !

[2018-05-10 16:53] decriptor commented on #104
Fixed here: https://github.com/mono/taglib-sharp/pull/108

[2018-05-10 16:53] #104 closed

[2018-05-10 16:53] decriptor commented on #103
Fixed here: https://github.com/mono/taglib-sharp/pull/108

[2018-05-10 16:53] #103 closed

[2018-05-12 20:32] MariusBinary commented on #100
Yes, Lyrics3v2 tag is a type of syncronized lyrics but it is different from ID3v2 syncronized lyrics.

[2018-06-04 07:07] scavarda commented on #60
Is there an official taglib 2.1.0.0 based on netstandard 2.0 now?
Or shall we use an outdated version from https://github.com/PeterHagen/taglib-sharp ?

[2018-06-13 00:19] Jehoel opened #110 "Request: Rename classes to allow import of multiple namespaces without ambiguous symbols"
(I searched previous Issues in GitHub to see if anyone raised this point, I couldn't see anything)

(I'm aware the docs say the v2.0 API is stable, so this is a proposal for version 3)

I used TagLib-Sharp to write my utility program [TeslaTags](https://github.com/Jehoel/TeslaTags) - thank you for this library!, but while using the library I experienced a number of ergonomic issues with TagLib, su

[2018-06-13 00:37] Jehoel commented on #110
On a related note (for v3 ideas) I have some questions about the existing design. Though I see that a lot of the code dates from 2002-2005 which predates .NET 2.0 and C# 2.0 and many things we take for granted like Generics and Extension methods that could be adopted into the library to make it even more .NET-idiomatic and future-proof with new versions of .NET Standard.

- Remove `ListBase` and u

[2018-06-22 19:06] DocCaliban opened #111 "Multiple genre's is not being handled correctly"
I've tested this with several 3rd party tools: mp3tag, MP4 Tag Library, etc...

It appears that when the library is saving multi genre's it save them as a semicolon delimited string.
This string is being read as a single string in other applications, rather than a list of Genre's.

Additionally when multiple genre tags are added to a file by other applications, the library doesn't read them and re

[2018-06-22 19:17] jamsoft commented on #101
So has anything been done with this issue?

[2018-06-22 20:09] mskurnik commented on #101
As far as I can tell, nothing has unless it was fixed in another branch.

[2018-06-29 13:59] RogerioDuarte opened #112 "recursive loop and heap crash in Duration method"
inside file taglib-sharp-master\src\TagLib\Properties.cs

Method: (row 151)

source:
public TimeSpan Duration {
			get {
				TimeSpan duration = this.duration;

				if (duration != TimeSpan.Zero)
					return duration;

				foreach (ICodec codec in codecs)
					if (codec != null &&
						codec.Duration > duration)
						duration = codec.Duration;

				return duration;
			}
		}

changed as below to

[2018-06-29 15:52] decriptor commented on #112
Thanks. Would you be willing to open a PR with a fix.

[2018-07-01 04:13] Jehoel commented on #112
But this will mean the `foreach( ICodec...` code will never be invoked because the two `TimeSpan.Zero` conditions are _collectively exhaustive_ and there is no mutation of `this.duration`. I understand that `duration == TimeSpan.Zero` actually means "unspecified" instead of actually being zero.

I think a better fix (to explicitly allow for a meaningful zero duration) would be to use `System.Threa

[2018-07-01 09:04] Starwer commented on #112
A `Zero` duration indeed here means: no duration. This is consistent with the rest of the TagLib# date or time properties, like `Year` or `DateTagged` and feels quite intuitive.
Also I do not think that a video or sample which contains nothing at all is a valid usecase. So the `Zero` to represent that no duration is available is, IMHO, a pretty fine choice.

@RogerioDuarte : In which case do you e

[2018-07-01 10:03] Jehoel commented on #112
What is the `duration` value of a video file that contains a single frame of video, e.g. a single-frame GIF image?

[2018-07-01 10:12] Starwer commented on #112
The duration of such a single frame video should certainly not be 0, but follow this universal formula:
`duration = frame_number / frame_rate`
As a result, assuming a typical frame-rate of 25 fps, you'll have a duration of 40 milliseconds.

[2018-07-01 10:38] Jehoel commented on #112
GIF files do not have a fixed frame-rate though, instead they have a delay value associated with each frame (making it a variable frame-rate file format) ( https://www.w3.org/Graphics/GIF/spec-gif89a.txt - section `23 c`). How does TagLib handle this case?

[2018-07-01 14:14] Starwer commented on #112
Then this should be indeed a duration of `Zero`. The difference between interpreting it as zero duration, infinite duration, undefined/unknown duration or no duration is quite a philosophical debate... In all those cases, we know that the duration is just irrelevant, just like in a BMP picture.

[2018-07-01 14:39] Starwer commented on #111
I could reproduce the problem easily with foobar2000... embarrassing bug indeed...

[2018-07-01 16:34] Starwer commented on #111
This is now fixed in #113. Problem was that the semicolon as list-separator in ID3 v2.3 (commonly used) was specific to the Genres (`TCON`) tag and not supported by TagLib#.
As lists in ID3 v2.4 are well-defined, there is no problem like this in ID3 v2.4.

 This string is being read as a single string in other applications, rather than a list of Genre's.

I didn't try that yet. I guess I'll have t

[2018-07-01 17:11] Starwer commented on #111
This string is being read as a single string in other applications, rather than a list of Genre's.

This should now be fixed as well.

[2018-07-06 08:38] yevster opened #114 "Consider re-licensing under MIT or similar"
Since much of the Mono project family has been re-licensed to MIT, might one ask that the same be done for this repository?

[2018-07-06 11:31] Starwer commented on #111
Fix is now available (Merged: #113).
@DocCaliban: Could you please verify that the problem is solved and close the issue ?

[2018-07-06 17:53] DocCaliban commented on #111
Ran a few quick tests, this is partially functional; I think intentionally.

For Mp3's it works just fine.  For mp4 & matroska video it doesn't work, however I'm not sure you have added support for that yet, or if you even plan to.

Regardless this solves the issue I filed, so if anyone else wants to add a new request for video, then by all means please do.

[2018-07-06 17:53] #111 closed

[2018-07-09 14:28] decriptor commented on #114
I'm not opposed to that idea, but I'm not sure how to go about that

[2018-07-10 22:13] mskurnik commented on #101
@decriptor, I just did a PR that address this "oddly" fun little bug. #115

[2018-07-11 21:48] yevster commented on #114
I'm not a lawyer, but I understand it works like this:

If all the committers signed/accepted a CLA to asign the copyrights to their contributions to the project, you should just be able to change the text of the COPYING file to that of the MIT license.

Otherwise, I believe you need permission from the contributors to relicense their contributions.

[2018-07-18 13:42] mskurnik commented on #101
@jamsoft can you provide a piece of audio that will trip up TagLib# in its current state?  I am trying to find a way to do a unit test for PR #115 but all of my audio have copyrights on them.

[2018-07-25 10:23] Starwer opened #116 "Documentation update"

[2018-07-25 15:45] decriptor commented on #116
We definitely need to update it. @Starwer Would you update it to show:
Bugs: GitHub issues
Tarball: GitHub (I really need to get a new release out)
IRC: Lets just use gitter.im? https://gitter.im/mono/taglib-sharp

[2018-07-26 10:18] Starwer commented on #116
Yes, no problem. I'll take care of that.
I was thinking that we could also "sell" a bit more what TagLib# is in that page. To my knowledge, this is the only library enabling to tag virtually any media type, but the offering is not, IMHO, so clear. Maybe we should add what formats are supported. Adding a could of example there would help.  Maybe we should also mentioned where it is actually used.

[2018-07-26 16:03] decriptor commented on #116
I think that'd be a great idea. I maintain F-Spot and that is what pulled me into taglib-sharp.

[2018-07-31 19:47] kkrivitsky opened #118 "Sorry... Wrong issue"
Wrong issue

[2018-07-31 19:51] #118 closed

[2018-08-11 14:08] Qstick commented on #98
Closing resolved with merge of #99. Thanks, hopeful for a release soon :)

[2018-08-11 14:08] #98 closed

[2018-08-14 00:34] Qstick commented on #116
@decriptor @Starwer Anything I can help with? Ever thought about discord in lieu of gitter? We are using taglib-sharp for Lidarr.

[2018-08-14 09:20] Starwer commented on #116
@Qstick : Thanks for your help

You already helped by mentioning that this is used in Lidarr :)
If you want to improve the TagLib# front page (or code), you're welcome to make a PR that @decriptor will review.

Unfortunately, TagLib# is not as active as Lidarr. I think the all-in-Git approach with Gitter is more appropriate for the amount of people and pace of the Q&A.

[2018-08-27 14:02] sepehr1014 commented on #60
Any updates on this?

[2018-08-27 14:02] mail4andrey opened #119 "Wrong Duration for Mpeg?"
https://github.com/mono/taglib-sharp/blob/fe2cc47f0cf564a399d3ba18d6dfb0d387445d74/src/TagLib/Mpeg/AudioHeader.cs#L477

Why "+1" in  `int frames = (int) (stream_length / AudioFrameLength + 1);` may be need `Math.Ceiling(stream_length / AudioFrameLength)`

and below why +0.5 seconds in
`duration = TimeSpan.FromSeconds (
						(double) (AudioFrameLength *
						frames) / (double)
						(AudioBitrate

[2018-08-27 15:32] decriptor commented on #60
@sepehr1014 I've been working on a new branch to improve the layout and bring in .net standard. It is getting close... I hope.

https://github.com/mono/taglib-sharp/tree/build_tweaks

If someone is a autotools expert I'd love the help with that. I *think* it is pretty close?

[2018-08-27 16:14] mail4andrey commented on #119
Thanks for fast answer.
We just looked for some .net instrument for get duration of mp3. Our files don't have tag headers (so sad). And taglib returned other duration than naudio (more on half a seconds).

Yes, your answer more right. I broke my brains to understand about these half a second.)

[2018-08-28 08:48] Starwer commented on #119
I've done a fix locally. I intend to issue a PR soon to solve this issue (and a few others that I could find).

[2018-08-28 08:55] #119 closed

[2018-08-28 08:56] mail4andrey commented on #119
Great! Thanks!

[2018-08-28 19:43] Starwer opened #120 "Poll: What do you use TagLib# for ?"
It would be interesting (and motivating) to get an impression on where TagLib is used (and why).
Please post here how you use TagLib, why you have chosen it and why you like it (or not: then what do you miss ?).

We will add some of the projects to the TagLib front page in "They also use TagLib#".  Please indicate if you don't want to appear on that page.

[2018-08-29 18:13] DavidOrazine opened #122 "Album title not saving?"
Hello everyone,

I have a project that uses this library. Everything is working great except the album name is not being tagged. I can see the value is there at run time, when I save the tag info, open it up with a tag reading software, these is everything there except the album name. I am new to tagging, am I doing anything wrong?

I have tried adding these lines to the program:

            TagL

[2018-08-31 00:35] DavidOrazine commented on #122
Dim file As TagLib.File = TagLib.File.Create(Form1.CleanFileName(tagTrack.Path))
file.Tag.Title = tagTrack.Title
TagLib.Id3v2.Tag.DefaultVersion = 3
TagLib.Id3v2.Tag.ForceDefaultVersion = True
TagLib.Id3v2.Tag.ForceDefaultEncoding = True
file.Tag.Performers = tagTrack.Artist.ToArray
file.Tag.AlbumSort = tagTrack.Title.Replace("Side A", "").Replace("Side B", "")
file.Tag.Album = tagTrack.Title.Repl

[2018-08-31 06:42] PeterCodar commented on #122
You wrote "...these is everything there except the album name".
Are you really sure, that the AlbumSort is filled correctly, but not the Album for the same track?
Would the Album be filled in a test case , if you don't use .Replace?

[2018-08-31 18:45] DavidOrazine commented on #122
The AlbumSort line was me playing around trying to get the Album name to work. That was not originally supposed to be tagged so I have not payed attention to that one.

Removing the .Replace as a test still did not fix the Album name tag from not working.

Thanks for the quick response!

[2018-09-12 21:12] llandru48 opened #123 "GRP1 tag for iTunes"
iTunes is now using a GRP1 tag for its Grouping field, instead of TIT1 which was used prior to iTunes 12.6

Is there a way to write to the GRP1 tag?

[2018-09-18 00:51] llandru48 commented on #123
I figured it out -- by using SetTextFrame.

[2018-09-18 00:51] #123 closed

[2018-09-18 15:04] jamerst opened #125 "Matroska cover art naming doesn't meet guidelines"
When attaching cover art to an mkv file, the cover is attached as "FrontCover.jpg". The [Matroska Cover Art Guidelines](https://matroska.org/technical/cover_art/index.html) give a naming scheme for the cover art files, which is simply "cover.jpg" for the default cover.

As taglib-sharp names the file something different, this causes compatibility issues with some applications, namely [Icaros](http

[2018-09-20 22:17] MartinHarran opened #126 "Genres[] tab - Genres not displaying properly in applications"
`Hi everyone

I am developing a C# application that gathers genre information about a song in Discogs and inserts it into an MP3 file using Taglib-sharp. I am running into problems however when I add  the genres in using the Genres[] tag; what particularly bugs  me (no pun intended!) is the variation in how the tag is interpreted in various applications, not just the difference between different a

[2018-09-20 22:19] MartinHarran commented on #126
BTW, I am using the exact same approach for Artists[] and Performers[] and both work perfectly!

[2018-09-22 16:58] Starwer commented on #125
I'm glad you posted this issue @jamerst, and this for two reasons:

- you indeed have a point that the cover.jpg requirement is not really fullfilled in the Matroska implement (blaming myself...);
- You make me discover Icaros. Showing covers instead of snapshots for videos is something I was long awaiting on Windows (since Win XP) and which never came. I was so desperate that I was going to imple

[2018-09-22 19:01] Xanashi commented on #125
Hi Starwer & jamerst,

Nice to see Github tagging in action. ;)

I've added "FrontCover" as a valid cover name in Icaros now (as per [jamerst request here](https://github.com/Xanashi/Icaros/issues/10)),
so future builds of Icaros should work with all existing MKV files tagged by taglib-sharp.

As for your proposal, I think it looks very reasonable, but there are a few limitations here.
Icaros curr

[2018-09-23 09:40] Starwer commented on #125
Hi Jamerst and Xanashi,

Thanks for this energizing replies!
To get it clear, I do propose to follow strictly what is actually the standard (i.e. make cover.jpg the icon by default for matroska). My proposal is about:

- what to do when there are pictures inside the media but no specified icon (like cover.jpg in mkv) ? How to "extend" the standard for example to not have the thumbnail used when th

[2018-09-23 20:10] jamerst commented on #125
Hi @Starwer,

I wasn't aware that you could do that, thanks for letting me know, I've just updated AutoTag to take advantage of it in the meantime.

[2018-09-27 12:01] OronDF343 commented on #60
@FasettoAndrew your NuGet package is missing the xml-doc comments

[2018-10-17 20:41] MrCSharp22 opened #128 "Support for Event Timing Code Frames (ETCO)"
Hi,
I am not sure who is the maintainer of this repo but I've been using this lib (technically a port of this which supports older .NetStandard) in my app and I needed to use the ETCO frames. This lib doesn't support that so I've created a Pull Request adding support for ETCO frames and would like to see it merged and released on nuget.

PR #127

Thanks :)

[2018-10-20 17:15] shaforostoff commented on #51
this code makes a rough guess about file's bitrate and length:

https://github.com/taglib/taglib/pull/856

[2018-10-25 20:58] EnanoFurtivo opened #131 "Just a simple question regarding MyFile.Tag.Pictures"
### Hi! I have been using this library in my code for a while and never really noticed this little detail before.
**Thing is i have set up a program that copys a cetrain mp3 file from one directory into anotherone:**
     ` System.IO.File.Copy(songn.Mp3Path, mp3CopyPath, true);`

**I then use this new mp3 to edit with the library to apply some tags:**
[code]

**_ACTUALL ISSUE:_**
**Then comes the

[2018-10-25 21:11] EnanoFurtivo commented on #131
Maybe it has to do with the fact that the image is in jpg format and this line here specifies Jpeg idk for real
`pic.MimeType = System.Net.Mime.MediaTypeNames.Image.Jpeg;`

[2018-10-26 06:11] Starwer commented on #131
The first thing to understand is: where does this other unexpected image come from... Looks tom me like VLC is making it up by using a cache or by automatically downloading it... Maybe you can challenge it by just putting a dummy file-name to your newly created mp3, and also dummy metadata title and album.
Also try to open this mp3 with another software to see if this is consistent. Or simply: was

[2018-10-26 12:11] Starwer commented on #131
I'm now pretty curious where this magic image comes from... :)

The `Comment` Tag is a standard feature for many formats, but rarely used indeed.  It is really meant to store the user comments, whatever it may be. So it is safe to use it for storing whatever you like there.
Still, if you only deal with MP3, you may want to create your own custom tag. I explained how to do this in: https://github.c

[2018-10-26 15:39] EnanoFurtivo commented on #131
Okay this is suprisingly interesting, **when opening the file in Windows Media Player it shows the correct cover**. I'm even more curious now that i know **VLC is using a cover created from thin air**, i would like to investigate where that comes from in the near-future. And thanks for the tip regarding the comment tag. I guess this issue could be closed now, unless there is a way to override this

[2018-10-26 16:05] Starwer commented on #131
Welcome ! You're the only one who can close this issue, so please do it if you think your problem is solved.

[2018-10-26 16:46] EnanoFurtivo commented on #131
Sorry i thought you were the owner of the repo my bad. I'll close the issue here. If find out what VLC is doing ill post it as a add on to the closed issue. Thank you for the support :D

[2018-10-26 16:46] #131 closed

[2018-11-30 16:35] shaked6540 commented on #120
I use taglib# for my project, [YoutubePlaylistDownloader](https://github.com/shaked6540/YoutubePlaylistDownloader), I use it specifically for tagging of artists, album, title, rating and genre based on the video title.

[2018-11-30 22:37] pmwmedia commented on #120
Kaseto uses TagLib#, too: https://kaseto.com/

[2018-12-01 08:00] MrCSharp22 commented on #120
I use it for my Music UWP App: https://www.microsoft.com/en-au/p/holla/9nblggh1rdh6

[2018-12-01 08:00] MrCSharp22 commented on #128
Closing this issue because the code was merged to the master branch.
Thanks.

[2018-12-01 08:00] #128 closed

[2018-12-01 10:53] Starwer commented on #120
Hi guys ! It's great to see all these fancy projects done with TagLib# ! That's energizing to see the  :)Open Source community in action. Please keep posting what you're doing ! 👍

[2018-12-01 16:19] decriptor commented on #60
@JoshSchreuder The one PR I'd like to land before doing a release would be this one: https://github.com/mono/taglib-sharp/pull/117
Unfortunately I messed up the autotools stuff and want to get that fixed first. I suppose I need to rebase it first :)

[2018-12-02 22:17] JoshSchreuder commented on #60
@decriptor no worries, let me know if I can help with anything :)

[2018-12-08 02:19] Spiker985 commented on #126
So, I'm actually in the process of switching from saving my songs into wav format because I found out that mp3's only store the first genre in the metadata, meanwhile wav stores multiple. Mp3 is also a compressed format, and wav is not, leading to a more lossless audio quality

![image](https://user-images.githubusercontent.com/7829451/49680695-8c763c80-fa65-11e8-8880-938abf1a1cd7.png)

[Source](h

[2018-12-12 14:10] Flo6651 opened #133 "Cannot build in Windows"
I tried to build this library on Windows 10 in Visualstudio 2017 Community.
I followed the instruction in the Readme but wasn't able to get it done.
I tried in version 2.0.5.0 ns 2.1.0.0.
After running all test I always get following Errors:

- taglib-sharp-taglib-sharp-2.1.0.0\taglib-sharp-taglib-sharp-2.1.0.0\src\taglib-sharp.dll" not found
- taglib-sharp-taglib-sharp-2.1.0.0\taglib-sharp-taglib

[2018-12-12 15:03] decriptor commented on #133
Out of curiosity, can you try the branch -> build_tweaks and see if that works better?

Thanks!

[2019-01-05 17:35] J-P- commented on #126
@Spiker985
You may want to read the specs at id3.org before going further. What you wrote and intimated is incorrect. The specs allow writing 1 genre, 1 genre and a sub, and multiple genres including associated subs. Your problem may be with your *player* as some only report the first genre or concatenates the genres into one value.

@MartinHarran
You may want to check the delimiter used to separa

[2019-01-07 01:43] Spiker985 commented on #126
@J-P-
It's not an issue with my player, I made the switch because of Windows. I concede that the mp3 format may accept more than one genre, however, Windows will never display more than one genre on mp3 files. It has no problem showing multiple genres on other formats, however.

[2019-01-16 00:46] flagoworld commented on #122
Album doesn't save for me either...

[2019-01-16 06:55] Starwer commented on #122
The way the tags are written is pretty format-dependent. Could you please indicate what extension the file you try to save has, or if possible provide the file itself (beware of copyrights) ?

[2019-01-16 08:36] flagoworld commented on #122
Riff / Wav

I could try to repo with a safe file and share it if i can

[2019-01-16 15:11] DavidOrazine commented on #122
The problem was with the file type. After I converted it to a FLAC file from a WAV file it worked perfectly. Thanks for your help, everyone!

[2019-01-16 15:11] #122 closed

[2019-01-16 16:26] flagoworld commented on #122
Please reopen. The but with wav still exists.

[2019-01-16 19:38] flagoworld opened #137 "Album & Pictures not saving on WAV files"
Attached is a file that, for me, does not save Album title and Pictures tags. If whatever is causing this bug is effecting two tags, it must be effecting a few more as well.

[bug.zip](https://github.com/mono/taglib-sharp/files/2765771/bug.zip)

#122 #103

[2019-01-16 23:33] flagoworld commented on #137
If I just write the AIFF headers into the PCM data and make it big endian, it properly embeds everything. So the bug is definitely with WAV.

[2019-01-17 03:37] anthonylavado commented on #40
Hi @decriptor!
We are using TagLib# over at Jellyfin, and would really love it if there was a new release to NuGet. Is there any way we can help?

[2019-01-19 16:50] #84 closed

[2019-01-19 17:37] decriptor commented on #40
@anthonylavado I really want to get https://github.com/mono/taglib-sharp/pull/117 merged first. Once that is merged I think I'm good to create a new release. It'll include multi-targeting for net462 and .net standard 2.0. I think the current problem is that the Makefile stuff is busted. I'm working on it this morning. I'm tempted to just dump all of the autotools stuff though. This is just a simpl

[2019-01-21 00:05] jacksga commented on #81
It could have something to do related to this: [Taglib-Sharp Large File (64bit file) support on Stackoverflow](https://stackoverflow.com/questions/26664422/taglib-sharp-large-file-64bit-file-support)
If thats the case, and I get the same error from large files, it would be great to get this fixed. But maybe @decriptor knows more. Would love to see this in a new release he is talking about in #40

[2019-01-21 04:42] decriptor commented on #60
I finally merged PR#117. We now officially multitarget both net462 and netstandard2.0. I'm going to start working on a new release soon. I'll update issue#40

[2019-01-21 04:42] #60 closed

[2019-01-21 04:44] decriptor commented on #94
I just merged a bunch of build related changes. Can you give this a try again?

[2019-01-21 04:46] decriptor commented on #77
I've updated the autotools to use msbuild now. The builds should be signed by default now.

[2019-01-21 04:46] #77 closed

[2019-01-21 04:48] decriptor commented on #46
This is probably much later than you'd like, but I've updated the code base to multitarget now. The new release will support netstandard 2.0 now. This should work just fine with Xamarin. I'll close this issue, but if it isn't working with the new release please re-open.

[2019-01-21 04:48] #46 closed

[2019-01-21 04:48] decriptor commented on #48
master now multi-targets both net462 and netstandard 2.0 now. The new release will support both.

[2019-01-21 04:48] #48 closed

[2019-01-21 05:08] decriptor opened #138 "[Release] 2.2.0.0"
- [ ] Move to <license> tag in nuspec
- [ ] Generate final nupkg
- [ ] Create release tarball
- [ ] Release notes
- [ ] Blog post

[2019-01-21 05:09] decriptor commented on #40
Closing this issue in favor of #138 which is the issue to track the 2.2.0.0 release.

[2019-01-21 05:09] #40 closed

[2019-01-21 05:30] decriptor commented on #138
@Starwer @rboy1

[2019-01-21 05:45] decriptor commented on #81
Unfortunately, I'm not very familiar with the mvhd stuff. I just posted a new nuget package for an upcoming release. Here is the issue for it #138

[2019-01-21 18:53] nicman23 opened #139 "MSBUILD now hardcoded?"
there was a massive update and now the project only supports msbuild?

can we please have the option of using mcs back?

[2019-01-21 19:07] nicman23 commented on #139
yeah on top of that, make install does not install the dlls

old ver (60e7588b53868a2b37dd0bc92868b740da2eeded installs them correctly

[2019-01-21 23:36] decriptor commented on #139
What distro are you building on?
What version of mono are you using?

I'll have to look at the make install. I'll add that to the release issue.

[2019-01-22 14:36] nicman23 commented on #139
arch, msbuild is hardcoded in build/msbuild.include

[2019-01-22 16:32] decriptor commented on #139
right, I theory you should be able to change that to xbuild as well and have it still work. Under the hood it is still having mono build everything.

[2019-01-22 16:57] Wizard-K opened #140 "Unicode Filenames"
Taglib cannot open a file (Windows) which has unicode characters in the filename.  Example: Jean-Michel Jarre - Téo & Téa Promo - 10 - Gossip.mp3 (note the accented e's)

[2019-01-22 17:02] DoctorWiz commented on #120
I use it for my Playlist Editor https://github.com/DoctorWiz/PlayWizard (Still very much in Alpha status)

[2019-01-22 19:21] DoctorWiz commented on #140
Nevermind.  Filename is getting screwed up somehow before passing it to Taglib.

[2019-01-23 00:08] decriptor commented on #140
ok, I'm going to close this. If it is a real problem though please feel free to reopen the issue

[2019-01-23 00:08] #140 closed

[2019-01-23 12:35] nicman23 commented on #120
banshee needs it and i love banshee

[2019-01-24 21:01] rboy1 commented on #138
@decriptor just one point, any specific reason you're targetting .NET 4.6.2 and Standard 2.0? I was able to build TagLib-Sharp using .NET 4.0 (with the exception of Tests which required GTK which required standard 2.0)

I would recommend using the lowest standard/framework for maximum compatibility, which in this case is 4.0. If you can do without GTK in the Tests. If GTK cannot be replaced then I

[2019-01-25 21:22] decriptor opened #141 "Make install doesn't work"
Looks like I removed the code that installs the library into the GAC.

[2019-01-25 21:23] decriptor commented on #139
I created an issues for the make install problem #141

[2019-01-25 21:24] rboy1 opened #142 "Test for CRC32 in MKV SeekHead"
@decriptor I have a sample file which can used for testing this. I'm attaching it since I can't upload file to the sample folder.
[CRC32_in_SeekHead.zip](https://github.com/mono/taglib-sharp/files/2793651/CRC32_in_SeekHead.zip)

I'm having an issue with my setup here so I can't build/run the tests.

However the test case is very simple, just load the sample file using `File.Create(sampleFile)` and

[2019-01-25 21:44] decriptor commented on #138
(This is more about opening up a conversation about this rather than saying it is the way it is :) )

A couple thought:
* Is there a good reason to use an older version of .NET other than a "because you can" reason? (in particular such an old version)
* Support for .NET 4, 4.5, and 4.5.1 ended just over 3 years ago. So, I'm not sure I'd want to target an unsupported version although I'm not sure t

[2019-01-26 01:40] decriptor commented on #138
@rboy1 I love the feedback. This is very helpful. There are some features that are tied to the .NET framework, but you can get around that with nuget packages. The problem with nuget packages is that it complicates packaging this for Linux distros.

I think I'm in favor of relaxing the required version as much as is reasonable. Let's see what we can do. As far as LINQ goes, I wouldn't mind remove

[2019-01-27 18:36] Starwer commented on #138
It seems like we are continuing the discussion of #78...
Thanks @rboy1 for the input.
I can give some Windows-side view.

My opinion is that .NET 4.5 provides all C# features we need to be comfortable in TagLib# and that it provides a reasonable backward compatibility. Up to .NET 4.6.1 it is supported by default from Windows 7 and later Windows versions, which is pretty nice in my view.
In that se

[2019-02-01 15:19] windracer commented on #112
RogerioDuarte, thank you for posting the fix, I forced with the same bug!

There is another place where the same fix should be applied.

File: taglib-sharp-master\src\TagLib\Mpeg\AudioHeader.cs line:444
Change
`if (duration == TimeSpan.Zero)
					return duration;`
to
`if (duration >= TimeSpan.Zero)
					return duration;`

[2019-02-01 17:08] windracer commented on #112
RogerioDuarte, thank you for posting the fix, I have forced with the same issue, but... After applying your fix, the duration for all files is always Zero.

I, however, found another (I think) issue causing the infinite recursion loop. In file Mpeg\AudioHeader.cs the Duration in some circumstances is calculated via AudioBitrate whereas AudioBitrate uses Duration. The fix is to change all reference

[2019-02-15 18:45] rboy1 commented on #93
Is there a way to replicate this or do you have a sample file we can look at?

Do you think it's related to this:
https://github.com/mono/taglib-sharp/pull/18

Also tagging @decriptor

[2019-02-15 20:14] rboy1 opened #146 "Error parsing Apple Elementary Stream Descriptor (ESDS) atoms"
There appears to be bug in the code when it tries to parse a ESDS atom from a MPEG4 stream.
I'm attaching the sample file which can be used to replicate the issue.

The ATOM structure of the file is:
[code]

When TagLib tries to parse the second `esds` atom following the `mp4a` atom is throws a corrupted exception.

Specifically the issues lies in the `AppleElementaryStreamDescriptor.cs` method:
[

[2019-02-16 11:03] Starwer commented on #146
For MPEG4, the documentation I found is in: https://developer.apple.com/library/archive/documentation/QuickTime/QTFF/Metadata/Metadata.html

There is an ESDC part there:
https://developer.apple.com/library/archive/documentation/QuickTime/QTFF/QTFFChap3/qtff3.html#//apple_ref/doc/uid/TP40000939-CH205-124774

Indeed, it is better if the parsing is never throwing an exception. Instead, in case of une

[2019-02-16 13:09] rboy1 commented on #146
Thanks, yes I did find that also. The section of the ESDC in the link above refers to the ESDC that follows a MP4V atom and the code seems to work fine for that atom.

Later in the documentation there is another section that refers to ESDC that follows a MP4A atom. That’s where the current code is having an issue with the parsing.

What I was unable to to find in the documentation were references

[2019-02-16 16:04] Starwer commented on #146
That's all I know about the MP4... I can't find anything else relevant about the format.
This code you pointing at has remained unchanged since 2007.
Maybe @bnickel can give us a tip on how he managed to write this ESDS code ? Maybe he has still some lost documentation about the MPEG4 format ? ;)
Otherwise I think reverse-engineering is the only way out...

[2019-02-16 22:33] rboy1 commented on #146
Okay some good news here, I was able to find the specifications for the ES_Descriptor at https://www.itscj.ipsj.or.jp/sc29/open/29view/29n2601t.pdf (section 8.3.3)

I appears that the code is expecting `DecoderConfigDescriptor` and instead in this sample it only contains a `SLConfigDescriptor` hence it's marking it as corrupted. So some refactoring required which I've done. I've added support for

[2019-02-16 23:08] rboy1 commented on #146
I think this may be a better source
http://ecee.colorado.edu/~ecen5653/ecen5653/papers/ISO%2014496-1%202004.PDF
Section 7.2.6.5

The link I provided the previous comment didn't seem right as the ES_DescrTag Tag values does not match what I see in the actual samples or other codes.

I'm not sure if either are a 100% of the official specs

[2019-02-16 23:36] rboy1 commented on #146
Okay some good news here, I was able to find the specifications for the ES_Descriptor at http://ecee.colorado.edu/~ecen5653/ecen5653/papers/ISO%2014496-1%202004.PDF
Section 7.2.6.5

I appears that the code is expecting `DecoderSpecificInfo` after the `DecoderConfigDescriptor` which is optional as per the specs and also in this sample it contains a `SLConfigDescriptor` which is not being handled, h

[2019-02-18 02:13] bnickel commented on #146
This assessment looks spot on.  The spec shows 13 required bytes then an optional 14th decSpecificInfo byte.  If that's present, then there (maybe?) has to be at least one more byte for length.

![screen shot 2019-02-17 at 6 36 15 pm](https://user-images.githubusercontent.com/662837/52923113-3f270e80-32e3-11e9-8550-5b2ed00bf652.png)

It makes sense to drop that value down to 13, then wrap the `Dec

[2019-02-18 06:18] rboy1 commented on #146
Neat info graphic, where did you get that from?

[2019-02-18 17:41] bnickel commented on #146
It's on page 115 of http://ecee.colorado.edu/~ecen5653/ecen5653/papers/ISO%2014496-1%202004.PDF

It's the same information as 7.2.6.6.1 but for whatever reason I ran across it first.

[code]

[2019-02-18 17:50] bnickel commented on #146
fwiw, here's FFMPEG's code that looks at https://github.com/FFmpeg/FFmpeg/blob/a1f0dd24f62532ff82ac87fbcb01244e6cdfa424/libavformat/isom.c#L535 what we're storing in `DecoderConfig`.  Looks like they can extract a few details from it if the audio is AAC.

[2019-02-18 20:29] rboy1 commented on #146
Thanks. I’ve refactored the code and will post it after I’ve finished testing it

[2019-02-19 19:29] rboy1 commented on #146
@bnickel

If my interpretation is correct the minimum size of the ES_Descriptor should be 21 bytes
`[Base (3 bytes) + DecoderConfigDescriptor (15 bytes) + SLConfigDescriptor (3 bytes) + OtherDescriptors]`

Here is the refactored file to parse the ES_Descriptor. This should be able to parse any number of embedded/optional descriptors (it may not process the information but it'll ignore them and not

[2019-02-22 04:02] hinterlandsupplyco opened #148 "LGPL, MPL and iOS / Xamarin distributions"
LGPL is notoriously fuzzy on iOS distribution because AppStore apps can’t be dynamically linked. The original taglib was released under LGPL and Mozilla Public License. Is is possible to have taglib-sharp also released under both licenses?

[2019-02-22 04:26] hinterlandsupplyco commented on #148
Looking at Q11, Q12 and Q14 of the Mozilla Public License it appears you should/could already be licensing taglib-sharp as MPL and LGPL and a simple Readme.md update and file header should suffice.

The original taglib had the LGPL header along with the following MPL addendum:

Alternatively, this file is available under the Mozilla Public License Version 1.1.  You may obtain a copy of the License

[2019-02-22 05:42] decriptor commented on #148
Duplicate of #114

[2019-02-22 05:42] #148 closed

[2019-02-22 05:43] decriptor commented on #114
Replying here to #148 (context for this comment) so that most everything about this topic is in one place.

That is a great question. I really just don't know, but this is something I'd like to look into. If I was to change the license I think I'd like to move to the MIT license. Honestly, I'm not sure that what the original taglib license is has an impact on this since it isn't a binding or anyth

[2019-02-22 13:12] hinterlandsupplyco commented on #114
If you follow the pattern that VLC used in re-licensing their code then the process is to email contributors and get a written / verbal yes or no (they are run by a non-profit so you can skip the "Voting" part). If you get 100% "yes" responses, make the commit to update the license. If you get some no's you can decide to remove or reimplement code contributed by those users.

Source: https://lwn.n

[2019-02-22 13:40] 1Cor125 commented on #114
I'm glad this is being proposed. It would be great to have the license loosened up to an MIT.

[2019-02-22 13:44] velocitysystems commented on #114
Likewise, MIT license would be favourable and consistent with other Mono open-source projects.

[2019-03-01 14:09] kwangsing3 opened #150 "How do I read Audio file and turn it to float[] ?"
First, thank you guys for this powerful lib,
but after some researched, I still can't fix my problem.
I'm using it to my UnityEngine game to load Audio file( Wav,Mp3, Flac....) at runtime, and most the thing I got was great, I can print some properties, so I do load the file successfully, But Unity Audio API needs float[] to set new audio file, just like
AudioClip.Setdata(float[] data, int offsets

[2019-03-02 16:12] Starwer commented on #150
There are two problems in using `ReadBlock` this way:

-  You don't know at what file position it starts to read the file content. This depend on the way TagLib reads the file internally;
- After the call to `_newfile.Save()` Your file stream is considered to be `closed`, meaning that you can't do anything anymore with it.

The solution: try to add this line before you use the ReadBlock:  `_newfil

[2019-03-02 18:57] kwangsing3 commented on #150
Thank you ! you're right, I successfully got it.
I appreciate that you help me to fix it !

[2019-03-03 17:39] Qstick commented on #83
This was fixed upstream by estimating bitrate
https://github.com/taglib/taglib/commit/72cd379f30492102f1a3b5ba18614da5f432c399#diff-81e922d987d974ef40fba488cfd0cab1

[2019-03-03 17:51] Qstick commented on #138
@decriptor we have updated to the beta in Lidarr and so far so good. Couple issues we run into which are are not new but would be good to have fixed are issue related to Mpeg4 lengths
https://github.com/lidarr/Lidarr/issues/641 and 0 bitrate for opus files (was fixed upstream in taglib by estimating bitrate from length)

[2019-03-04 18:17] IvanSagin opened #151 "Saved title tag with Russian words is mangled for *.avi files"
Saved title tag with Russian words is mangled for *.avi files.
[TestScript_ps1.txt](https://github.com/mono/taglib-sharp/files/2927680/TestScript_ps1.txt)
![testresult](https://user-images.githubusercontent.com/48204697/53753587-54b05100-3efd-11e9-8a32-f1d7b09d167a.png)
 Is this a known issue?

[2019-03-11 13:40] velocitysystems opened #152 "Linking fails on Xamarin.iOS due to missing reference "ICSharpCode.SharpZipLib""
### Description
Linking fails on a Xamarin.iOS project due to a missing reference to "ICSharpCode.SharpZipLib".

### Steps to Reproduce
1. Create a Xamarin.iOS project
2. Add Taglib nuget to the project
3. Try to build and deploy to the iOS simulator (or device)

**Workaround: Add SharpZipLib nuget package to the project and rebuild.**
_This nuget package should be added as a dependency in the .nu

[2019-03-27 08:40] smay1613 opened #153 "MPEG-1 without Pack frame is considered is invalid"
Taglib code tries to find the SystemSyncPacket for MPEG, but in many MPEG-1 files this frame is not present at all, so file is considered as invalid.
Also, we can extract video duration from average bitrate and file size (as ffmpeg does).
Consider attached files. They are fully valid, but they don't contain Pack frame.

[MPEG1 without Pack frame.zip](https://github.com/mono/taglib-sharp/files/3012

[2019-05-04 06:11] decriptor opened #155 "Replace GTK# dependency in Unit Tests with ImageSharp (maybe)"
We only use GTK# for a very small part of our unit tests. It'd be nice to get rid of that dependency. Is ImageSharp an option? https://github.com/SixLabors/ImageSharp

[2019-05-04 06:12] decriptor commented on #146
Are we good to close this now that #147 is merged?

[2019-05-04 06:15] decriptor commented on #152
As far I know we aren't using SharpZipLib in TaglibSharp. Is there something else that might be trying to bring in SharpZipLib?

Could you try this package instead and see if that is still an issue: https://www.nuget.org/packages/TagLibSharp/2.2.0-beta

[2019-05-04 06:17] decriptor commented on #153
@Starwer Would you be able to take a look at this?

[2019-05-04 06:17] decriptor commented on #150
I'm assuming we are good and can close this then?

[2019-05-04 06:17] #150 closed

[2019-05-04 06:26] decriptor opened #156 "Look at getting rid of ICloneable"
I heard that it is recommended against using this. Is that true?

Also, because of ICloneable we have to target netstandard2.0

[2019-05-04 06:30] decriptor commented on #138
@Qstick I just merged a handful of PRs from the lidarr project. Is there still something missing?

[2019-05-04 06:38] decriptor commented on #138
@rboy1 and @Starwer What do you think about this? https://github.com/mono/taglib-sharp/pull/157

I was able to drop down to net45, but ICloneable requires netstandard2.0.

[2019-05-04 19:16] Qstick commented on #138
This was the other issue we encountered, not sure if you got that one https://github.com/lidarr/taglib-sharp/commit/a3fa86cabc7138a9bb00075c37778ffff34492d7 @decriptor

[2019-05-05 19:19] decriptor commented on #138
@Qstick I don't see that one in there. Would you mind creating a PR with that change?

[2019-05-08 06:29] grisharav opened #159 "When running multithreaded, sometimes CRC calculations for PNG fail"
When I run in parallel lots of `File.Create(...)` calls (on different paths) I sometimes get

on the first file

I believe this is due to unsafe code in File.cs:

[code]

in the if (crc_table==null) check, multiple threads can start building the crc table and corrupt the results.

[2019-05-08 07:38] Starwer commented on #159
I think you're right. A simple fix for this would be to assign the ```crc_table``` onlly at the end of the function ```BuildCRCTable``` instead of initializing it at the begining, i.e. 🥇

[code]

[2019-05-08 08:37] grisharav commented on #159
Will probably work, I would simply make `crc_table` a `Lazy<uint[]>`

[2019-05-08 14:52] rboy1 commented on #138
@decriptor a thought, the ICloneable is only required for the tests. What if if you separate the projects and for the Nuget release excluded the testing from the build. Then you can reduce the .NET requirement to .NET 4 (or lower I think) and it should solve both issues.

[2019-05-08 14:59] decriptor commented on #138
@rboy1 I'll have to look closer at that. Is there a point at which we hit diminishing returns?

Also, unless I'm misunderstanding things. I'm not sure I want to support a version of .NET that isn't supported anymore? EOL (End of Life) (https://en.wikipedia.org/wiki/.NET_Framework_version_history)
<img width="987" alt="Screenshot 2019-05-08 08 58 55" src="https://user-images.githubusercontent.com/4

[2019-05-08 16:44] rboy1 commented on #156
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

As possible solution:
http://codinghelmet.com/articles/how-to-avoid-the-need-to-implement-icloneable-interface-and-what-to-do-instead

[2019-05-08 16:50] #146 closed

[2019-05-08 16:52] rboy1 commented on #82
MP4 tagging was fixed in #147

[2019-05-08 17:39] #82 closed

[2019-05-09 08:05] Starwer commented on #159
Good idea! This be even cleaner.

[2019-05-11 09:11] Starwer commented on #156
`ICloneable` may be not a perfect implementation (because of its object return type), but that's the standard way to express that an object can be "copied", whatever it may mean (shallow or not), so usually I'm in favour of using it instead of making up a custom flavor.

However, the way it's used in TagLib#, I have no objection to remove this interface, and this for two reasons:

- I think the us

[2019-05-11 10:06] Starwer commented on #155
We would then replace the GTK# dependency by another one then, isn't it ?
What is the the advantage of using ImageSharp over GTK# ?

[2019-05-12 23:29] orobert91 opened #160 "How to write custom tag"
How do we write custom tags with this library? I have tried TextInformationFrame and UserTextInformationFrame but it has 2 problems:

1. It doesn't show in Windows Explorer in the properties of the file.
2. Windows Explorer messes up the data stored in TextInformationFrame and UserTextInformationFrame  when it overwrites the properties.

Is it even possible to do this in taglib-sharp?

[2019-05-13 08:35] Starwer commented on #160
What do you expect `TextInformationFrame` and `UserTextInformationFrame` to be mapped to in Windows Explorer ?

- If you're looking for the TagLib# equivalent to the Windows Explorer "Comment", you should better use the `Tag.Comment` property. This doesn't map to `TextInformationFrame` but a `CommentsFrame` (COMM) instead.
- If you really need to access the `UserTextInformationFrame` (TXXX), you s

[2019-05-14 00:09] orobert91 commented on #160
I do not wish the field to be mapped to an existing tag, but rather create a new tag that Windows Explorer will be able to show in the "Details" tab of the file properties dialog, like this:

![image](https://user-images.githubusercontent.com/6403705/57661807-63307e00-75ba-11e9-8669-ad038f47dab3.png)

These two tags are created by Traktor Pro 3 after analyzing an mp3 file. I have looked into the f

[2019-05-14 00:14] #160 closed

[2019-05-24 16:27] dvshmkr opened #161 "TRACK frame is typed UInt but is defined as string in the id3 standard."
This value is not for doing math. Existing data my have other non-numeric values "/". It's defined in the standard as a string.

[2019-05-25 14:13] Starwer commented on #161
So far, allowing zero-leading in value was the only issue I could think of with presenting TRACK as `Uint` (example to sort alphabetically on 01, 02, 03...). However, this has been discussed and solved in issue #64.

@dvshmkr : Could you please give an example of value in `TRACK` that would not be an `Uint` and would make sense anyway ? Does your "/"suggest that you want to allow multiple tracks t

[2019-05-27 21:58] dvshmkr commented on #161
Sebastien,
Thanks for responding so quickly to my issue. It's great to know tablib is
under active development.
First, thanks to you and the other taglib developers for your work; I was
able to port my project to C# very quickly with it.

Regarding TRACK being a Uint: For me the issue came up because some of the
files I'm processing have a letter prefixing the numeric track to represent
the disc o

[2019-05-31 20:27] mskurnik opened #162 "Infinite loop when reading corrupt ID3"
If you look at the following code you will notice that the `frame_data_position` variable is never incremented and the `CorruptFileException` exception is never thrown.  When this happens, the code loops forever.

This is caused when the [FrameHeader](https://github.com/mono/taglib-sharp/blob/master/src/TaglibSharp/Id3v2/FrameHeader.cs#L150) checks for the ID3 version.  In my case the version is 3

[2019-06-02 10:27] Starwer commented on #161
Hi Dave,

Ok, now I understand your confusion.

First of all, yes, your assumption is right: TagLib aims at following the standards like ID3 as close as possible.

Now the `Tag` abstract doesn't present each specific standard flavour like the TRCK frame for ID3. This class abstracts the specificities of each tag-format. This is for a good reason: reusability. You can handle ID3 files the same way

[2019-06-04 07:25] John0King opened #163 "two nuget packages ?"
It seems there are two package in nuget
https://www.nuget.org/packages/taglib/
And
https://www.nuget.org/packages/TagLibSharp/

[2019-06-04 13:30] decriptor commented on #163
This is the one that I created and plan on maintaining - https://www.nuget.org/packages/TagLibSharp/
It has the latest code from master and as soon as can wrap up this release* it'll be a final 2.2 version. For the most part it should be solid.

The other one was created from the last officially released version by the community.

* Due to life and (many) funerals, etc this year I haven't had the

[2019-06-07 02:45] orassr opened #164 "Xamarin shared project"
Is it possible to use TagLib in Xamarin?
I tried to access a file, and I had this error on run time

: Could not load file or assembly 'taglib-sharp, Version=2.1.0.0, Culture=neutral, PublicKeyToken=db62eba44689b5b0' or one of its dependencies.

My current project SDK is NETStandard.Library(2.0.3) using VS 2019

[2019-06-08 13:59] decriptor commented on #164
How are you trying to add taglib#?
If you didn't try this package: https://www.nuget.org/packages/TagLibSharp/2.2.0-beta
could you try that and see if it works?

[2019-06-11 14:02] orassr commented on #164
I have used nuget.org/mono/taglib-sharp before.
Now 2.2.0-beta seems to be working, I'm having another issue with file path on shared project so I can not really pull a .mp3 file form directory and extract metadata

[2019-06-12 19:02] EatonZ opened #165 "Correctly adding picture to FLAC"
What's the correct way to add a picture to a FLAC file? The code in [your example](https://github.com/mono/taglib-sharp/tree/master/examples/SetPictures) is wrong for FLAC files.

What I mean is that when the file is saved and closed, looking in a hex editor, the `Width`, `Height`, `ColorDepth`, and `IndexedColors` properties (unique to `TagLib.Flac.Picture`) are saved to the file as 0.

The probl

[2019-06-12 23:13] EatonZ opened #166 "Id3v2: Setting TrackCount after Track removes leading 0"
"_Most tagging formats store this as a string. To help sorting, a two-digit zero-filled value is used in the resulting tag._" - [Track documentation](https://github.com/mono/taglib-sharp/blob/83f5f2c36655a872b5cee46cf0fff1e020d05558/src/TaglibSharp/Tag.cs#L568)

I discovered when working with Id3v2 that if you set the value of `Track`, and then `TrackCount`, it removes the leading 0 from `Track` w

[2019-06-17 01:27] #163 closed

[2019-06-25 23:53] gitChef30 opened #167 "System.UnauthorizedAccessException Xamarin Forms"
If you try to edit a file in an external storage it throws a **System.UnauthorizedAccessException**: _Access to the path "/storage/4FAE-757R/Downloads/Audio.mp3" is denied._

This is the code:
[code]

the exception is thrown right after the execution of the ` file.Save();` statement. No exception if the file is in the internal storage. Certainly, the _READ_EXTERNAL_STORAGE and the WRITE_EXTERNAL_S

[2019-06-28 11:10] daniel-lerch commented on #120
I use taglib# in a PowerShell script to detect and delete corrupted video files.

[2019-07-22 23:28] decriptor commented on #139
I'm going to close since this I've decided to completely delete all of the autotools stuff.

So, moving forward you simply need to grab the source, use either xbuild or msbuild to build the solution.
msbuild /restore TaglibSharp.sln
or
xbuild /restore TaglibSharp.sln (/restore might not work with xbuild, so instead nuget restore)

[2019-07-22 23:28] #139 closed

[2019-07-22 23:29] decriptor commented on #141
I've decided to remove autotools. We probably shouldn't be installing taglib-sharp into the gac anyways. Most dev is moving to using things like nuget.

[2019-07-22 23:29] #141 closed

[2019-08-01 12:22] Adsun701 opened #171 "pkg-config support was removed"
#169 removed support for pkg-config when transitioning from autotools to msbuild. Some applications require pkg-config when searching for taglib-sharp as a required dependency. Is there a reason to why pkg-config support was removed?

[2019-08-01 15:43] decriptor commented on #171
I removed most everything outside of a simple `msbuild`. Can you help me understand the value of pkg-config? I'm opposed to adding autotools back, but am open to pkg-config.

I don't believe taglib-sharp should be in the gac and assumed that if it wasn't in the gac that the pkg-config wouldn't serve as much purpose.

@directhex Do you have any suggestions or feedback on this?

[2019-08-01 16:06] directhex commented on #171
taglib-sharp 2.1.0.0 installs to the GAC in distributions as-is.

`pkg-config` is historically nice for libs, since it gives you things like the `-pkg:foo` flag to mcs, and easy minimum version checking in autotools projects which consume it.

Removing the pcfile will break the build of existing GAC-assumed consumers like, say, [tangerine](https://github.com/snorp/tangerine/blob/master/configure.a

[2019-08-01 17:22] Adsun701 commented on #171
I think pkg-config support should be retained even if autotools is removed. An autotools configure script is not necessary to install a .pc file.

For example, the taglib-sharp [PKGBUILD ](https://aur.archlinux.org/packages/taglib-sharp) in the Arch User Repository now manually installs a [.pc file](https://aur.archlinux.org/cgit/aur.git/tree/taglib-sharp.pc?h=taglib-sharp) to avoid breakage of ot

[2019-08-01 17:56] decriptor commented on #171
@directhex @Adsun701 I'm not sure I'm very interested in supporting a non-nuget future. I'd probably recommend a submodule and include the TaglibSharp.csproj file in your solution or just pull in the nuget.

Having said that though, @Adsun701 if you were interested in creating a PR to add the `.pc` skeleton file I'd be ok including it in the repo. Without the `configure` stuff it'll probably have

[2019-08-01 17:58] decriptor commented on #171
Are things like tangerine or banshee or others still maintained and distributed still? It looks like the era of c# desktop development on Linux is mostly or completely dead?

[2019-08-01 17:59] decriptor opened #172 "Investigate improved Xamarin support"
Existing issues:
#46
#164
#167

It'd be nice to convert over to MIT
#148

[2019-08-01 18:06] Adsun701 commented on #171
@decriptor Actually, C# desktop development is very much alive on Linux. I could not say the same for Visual Basic .NET however, at least not at this moment.

[2019-08-01 18:12] decriptor commented on #171
@Adsun701 That is good to hear. Do you have some examples of c# desktop development on Linux?

[2019-08-01 18:27] Adsun701 commented on #171
- [IPBan](https://github.com/DigitalRuby/IPBan), a C# application used on Windows and Linux for banning IP addresses
- [BloomDesktop](https://github.com/BloomBooks/BloomDesktop), creates simple books for translation into multiple languages
- [Eto](https://github.com/picoe/Eto), a GUI framework

It can be seen that new cross-platform projects are being created in C# on Github every week.

[2019-08-01 18:34] #171 closed

[2019-08-16 08:07] Mustenaka opened #174 "Is there an API document for taglib-sharp?"
I am a Chinese Developer and making a MP3 player as my work.
Is there an API document for taglib-sharp ?

[2019-08-16 18:02] decriptor commented on #174
The nuget should include a generated xml doc file, but outside of that the docs are in the README and source code for now. Sorry it isn't better.

[2019-08-18 12:40] mitchel1029 opened #175 "webm not working"
I'm using version 2.1.0 from nuget but the .webm gives me a UnsupportedFormatException. In the readme it says that .webm is supported.

[2019-08-25 21:12] GeAd23 opened #176 "I cant add this library to my Project."
I cant find any dll for 2.2.0.0. So how can i add taglib-sharp to my project or where can i find the taglib-sharp.dll ?

[2019-08-26 17:41] GeAd23 commented on #176
But there is no Version 2.2.0.0 !

[2019-09-01 04:37] SeakyLuo opened #177 "How do I do TagLib.File.Create in UWP?"
I cannot do the creation in UWP, as I get `System.UnauthorizedAccessException:“Access to the path is denied.”` using either `TagLib.File.Create(new TagLib.File.LocalFileAbstraction(CurrentMusic.Path), TagLib.ReadStyle.Average);` or `TagLib.File.Create(CurrentMusic.Path, TagLib.ReadStyle.Average);`.

I previously used Id3 library and I was able to access the music file using stream like the followi

[2019-09-01 08:16] MrCSharp22 commented on #177
```System.UnauthorizedAccessException``` is thrown when your UWP app is accessing a file outside of the app data folder.

How are you getting the path of the file you want to open? You should be using the file picker which will grant your application permissions to access the selected file.

[2019-09-01 11:55] SeakyLuo commented on #177
Yes I am accessing a local drive music file. I am implementing a UWP music player that manages local music files. How can I get a local file using your library?

[2019-09-01 12:22] MrCSharp22 commented on #177
Ok, so the thing about UWP is that Apps can't just get access to a file using only a path. From your comment I see that you need to give your app the "Music Library" capability under the "Capabilities" section of the app manifest in Visual Studio.

This capability will allow your app to have full access to the user files in their Music folder. However, if there are other music files outside of the

[2019-09-01 13:04] SeakyLuo commented on #177
I understand this issue in the UWP programming. I am just wondering, if I use FileOpenPicker and get a StorageFile, then how should I use your library to get the tag of that music file?

[2019-09-02 11:47] MrCSharp22 commented on #177
You don't have to copy it to the app folder. If you use the FileOpenPicker then just use the ```OpenAsync``` method on the ```StorageFile``` object you get from it. Then proceed as per the code you've showed above without the call to ```GetFileFromPathAsync```

[2019-09-03 06:34] SeakyLuo commented on #177
Yes but how to use your library to get the tag with the ```StorageFile```?

[2019-09-11 07:09] ikrt opened #178 "“System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.Parameter name: count”"
`TagLib.File.Create(IFileAbstraction abstraction)` method gives the following error:

, on this specific image:

![222](https://user-images.githubusercontent.com/51803487/64675467-ed5ef500-d47b-11e9-9c1d-2cd00c79380d.jpg)

Here is the code:

[code]
It works for other images, but only this image throws error.

Has anyone experienced this issue before and if so, is it possible to share a solution?

[2019-09-12 00:56] SeakyLuo commented on #177
Hello, any suggestions? I didn't find a similar call to the code I showed above.

[2019-09-13 14:38] MrCSharp22 commented on #177
Hey buddy, I'm sorry I didn't reply earlier.
Here's a snippet of the code I've used before:

Start by creating this class. It is a simple wrapper for the file abstractions interface offered by the library:

[code]

Then, use this method to read tags from an MP3 file:

[code]

Hope this helps mate.

[2019-09-14 01:01] SeakyLuo commented on #177
Thank you!!! Now it is working like a charm. I really suggest you guys to put this code sample onto the README or somewhere!

[2019-09-14 03:11] MrCSharp22 commented on #177
Hi @SeakyLuo
I'll try to submit a pull request soon with this.
For now, feel free to close the ticket as resolved.

Good luck!

[2019-09-14 06:57] #177 closed

[2019-09-14 07:00] SeakyLuo opened #179 "I got different Lyrics from iTunes"
I am using this piece of code to get lyrics.

`            using (var tagFile = TagLib.File.Create(new MusicFileAbstraction(file), TagLib.ReadStyle.Average))
            {
                return tagFile.Tag.Lyrics;
            }`

I do get lyrics, but that looks different from the lyrics I see on iTunes. Any ideas why?

[2019-09-14 14:12] decriptor commented on #179
I'll try and take a look at this later next week.

[2019-09-16 03:50] SeakyLuo commented on #179
I just wanna add that, when I modify the lyrics using code or iTunes. The lyrics doesn't change on the other side. It is consistent throughout one app.

[2019-09-20 05:34] decriptor opened #180 "Fix LGTM issues"
https://lgtm.com/projects/g/mono/taglib-sharp/

[2019-09-23 11:59] ikrt commented on #178
tried, same problem.

[2019-10-01 11:55] sdg002 opened #181 "Can TagLib determine the format of a speech file if the file does not have an extension"
Just checking. I have a scenario where the speech content resides in Azure BLOB storage and some C# handler code in an Azure function which will be downloading the stream of bytes and then determine the format of the file. Can TagLib help?

Thanks,
Sau

[2019-10-01 11:58] MrCSharp22 commented on #181
TagLib Sharp simply needs a stream to the file contents. So if the azure function is downloading the file and keeping it in a memory stream then that should work.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: saurabh <notifications@github.com>
Sent: Tuesday, October 1, 2019 9:55:26 PM
To: mono/taglib-sharp <taglib-sharp@norep

[2019-10-01 12:10] sdg002 commented on #181
Thanks for the quick response.

**This works - files with valid file extensions**

[code]
**After stripping the file extension**

I tried with legitimate audio files but with file extension removed
These lines threw an exception `TagLib.UnsupportedException`

[code]

**Tried using LocalFileAbstraction - this works**

[code]

**Tried using LocalFileAbstraction - this did not work**

[code]

[2019-10-01 12:16] MrCSharp22 commented on #181
```File.Create()``` has an overload that accepts mime type as a parameter. Looking at the code, if the mime type == null (which is what's passed with basic ```File.Create()``` method) it will try to determine it via the file extension in the file name.

Can you try specifying the mime type of the file and see if it works?

[2019-10-01 12:33] sdg002 commented on #181
Please help me, how would I know the MIME type in advance? All I have is a chunk of bytes.

[2019-10-01 12:39] MrCSharp22 commented on #181
Guessing the file mime type from its contents would be your only option in this case.
I found this repo: https://github.com/hey-red/Mime
it is a Mime guesser written in dotnet. I haven't used it myself, but i think this might do the trick for you.

Let me know how it goes :)

[2019-10-02 06:40] sdg002 commented on #181
Thanks so much for the taking time to reply to my queries.  I am going to give this a try. I am also exploring the command line tool **ffprobe.exe** from https://www.ffmpeg.org/. This appears to be examining the file contents of a WAV/MP3 and spitting out the audio format.

[2019-10-09 13:54] kwhitefoot opened #182 "File marked as corrupt incorrectly (?)"
I'm trying to modify the keywords in a file but can't because the file is marked as corrupt when loading:

reason = "Size of entries exceeds possible data size"

Other tools including Windows 10 File Explorer are able to modify the keywords and taglib-sharp can read them.  What's happening?  Is this a bug or expected behaviour, that is, is this file really corrupt but other tools don't care?

![IM

[2019-10-17 15:14] maruashok opened #183 "How to save Tags as a Id3v2.3 instead of Id3v2.4 ???"
I want to save tag as Id3v2.3 version but it saves tags with Id3v.2.4.

Here is my code,

TagLib.File objTag = TagLib.File.Create(FilePath);
Tag Id3v2Tags = objTag.GetTag(TagTypes.Id3v2);
Id3v2Tags.Title = songDetails.title;
Id3v2Tags.Album = songDetails.album;
objTag.Save();

How to set tag version to  Id3v2.3???

[2019-10-19 04:52] maruashok commented on #183
Solution

TagLib.File objTag = TagLib.File.Create(FilePath);

TagLib.Id3v2.Tag.DefaultVersion = 3;
TagLib.Id3v2.Tag.ForceDefaultVersion = true;

objTag.Tag.Album = songDetails.album;
 objTag.Save();

[2019-10-19 04:52] #183 closed

[2019-10-29 20:45] Suplanus opened #184 "Read metadata from audio stream"
Is it possible to read an audio stream (webradio)?

I tried this:
[code]
But get an `TagLib.UnsupportedFormatException`.

[2019-10-30 03:15] decriptor commented on #184
A brief look at the code, I don't believe this is currently supported.

[2019-10-31 13:01] Suplanus commented on #184
Have you any idea how i can reach this?

[2019-10-31 13:37] decriptor commented on #184
@Suplanus I'm not sure I understand what you are asking. Are you asking if it'll be supported?

[2019-10-31 13:39] Suplanus commented on #184
More the question:
Can you can give me a tip how this is reachable...
So I can make a PR for you ❤️

[2019-11-04 01:48] SeakyLuo opened #186 "Unicode tag properties"
I found a closed issue also about unicode. It says the filename was messed up. But in my case it is not.

Most of files contains unicode characters can be read properly but some cannot.

For example,

![QQ截图20191104094733](https://user-images.githubusercontent.com/25042708/68095921-2cdc1780-fee8-11e9-96c6-6aa54bba9905.png)

The upper text should be “怒放的生命” while the lower is supposed be "汪峰".

[2019-11-17 18:41] codenotworking opened #188 "autogen.sh: No such file or directory"
New to Linux.  I installed Ubuntu 19.10.  Ran the following commands from the home page:

[code]

What am I doing wrong?
Any help appreciated.

[2019-11-18 18:49] decriptor commented on #188
Sorry, I made a fair change and forgot to update the README.md. There is no longer the autogen.sh stuff. I'm not at a linux machine right now, but this should probably work.

`msbuild /restore TaglibSharp.sln`

How are you trying to use taglib-sharp? Are you just consuming the dll? or trying to include it in your own solution? If you can use a nuget, I'd recommend this: https://www.nuget.org/packa

[2019-11-24 14:50] codenotworking commented on #188
Thanks for the advice.  I installed Ubuntu on a virtual machine.  I had to install [.NET Core SDK for Linux/Ubuntu](https://dotnet.microsoft.com/download).  Then I ran the command you mentioned and successfully built the DLL file.  But I noticed there were error messages about not having .NET Framework 4.5 or later installed.

I instead decided to install the [Build Tools for Visual Studio 2019](h

[2019-11-24 16:45] #188 closed

[2019-11-28 14:59] TrueCP6 opened #189 "360 video metadata for mp4 files?"
Am I missing something because I can't seem to find the tag for whether the file is 360?

[2019-12-15 23:59] codenotworking commented on #176
@GeAd23 Download and install [Build Tools for Visual Studio 2019](https://visualstudio.microsoft.com/downloads/?q=build+tools).  Then run `msbuild.exe /restore TaglibSharp.sln` to build the DLL file.  You'll get both .NET Framework 2.0 and 4.5 versions.

[2019-12-22 14:23] jamesjohnmcguire opened #192 "Update README.md to include nuget reference"
It might be slightly helpful to include an explicit reference to the nuget package: https://www.nuget.org/packages/TagLibSharp in the readme.

If you just do a search for 'nuget taglib', this package actually comes about fourth.  While the top one, seems to be variation (just taglib) that is still on version 2.1.0.

[2019-12-22 18:02] JoshuaLamusga commented on #120
It's useful for a personal utility that helps me easily see what metadata is wrong with music files on my computer, and helps me in generating an RTF file listing all the music.

[2019-12-22 18:07] JoshuaLamusga opened #193 "Performers tag on mp3 reads ac/dc as separate performers"
It seems that on Windows, performers are separated only by semicolon, but TagLib# separates performers by both ; and / so it reads AC/DC as two separate artists, AC and DC. I don't have a generic workaround; only workaround possible is to exempt AC/DC specifically.

It would be nice to see this behavior change to be coherent with Windows, or if it's Windows that's wrong in reading the metadata, pr

[2020-01-03 04:12] decriptor commented on #192
@jamesjohnmcguire that is a great point! Would you be willing to submit a PR for this?

If not, I'm happy to do it.

[2020-01-04 07:29] jamesjohnmcguire commented on #192
@decriptor Ok. I'll setup a PR for this.

[2020-01-11 18:04] SimGo123 opened #194 "Assign custom tag to a file"
Hello there, I don't understand how to set a custom tag for a file.
In your README.md file in the example "Read/write custom tags from a specific format" you declare a variable tfile which contains the File `var tfile = TagLib.File.Create(@"C:\My song.flac");`. Then you create another object called custom which you assign a custom tag `var custom = (TagLib.Ogg.XiphComment) tfile.GetTag(TagLib.TagT

[2020-01-12 07:21] Starwer commented on #194
Hi,
You're right, the example is flawed. This should be be `tfile.Save();` in the last line.
`GetTag()` method returns a references that will impact the `tfile` object directly.

[2020-01-12 20:26] SimGo123 commented on #194
Hello, I tried it again multiple times, and than checked with exiftool, but it definitely does not add a custom tag to a file.

[2020-01-26 00:24] #161 closed

[2020-01-26 09:41] SebastianStehle commented on #181
No 100% guarantee, but a while ago I have worked on an image loader for silverlight and all the file formats I have worked with have a marker at the beginning, which can be uses instead.

[2020-02-11 01:17] seankearney opened #196 "`Id3V2Test.cs` - Changing `Version` multiple times [Question]"
Looking at `TestTitle` as an example approach (which is duplicated throughout the file), we have a loop

[code]

I assume this is intended to tests Id3V2.2, Id3V2.3 and Id3V2.4. Cool :+1: However, then we go on to the next bit...

[code]

Continuing into `TagTestWithSave`...

[code]

It appears that we are changing the version again here. I'm not sure if there is a specific reason for changing ver

[2020-02-11 01:19] seankearney opened #197 "Id3v2.Tag - Should `CopyTo` copy the `Version` of the tag?"
If you step through the `Id3V2Test.TestTitle` watch the `tag.Version` property as you are stepping through `TagTestWithSave`. When you execute a `tag.CopyTo(tmp, bool)` the `tmp` `Tag` doesn't get the source Tag's version. I could see this being argued either way, but wasn't sure if it is worth investigating more.

[2020-02-11 01:29] seankearney opened #198 "`Id3V2Test.cs` - `TagTestWithSave` Providing odd results with `AddFrame`, `Clone` and `Copy`"
I was writing some new tests to try and demonstrate some issues I've been having and I stumbled into some strange behavior with the tests.

I was trying to write a test to demonstrate an issue with adding `GEOB/APIC` frames, but my tests were failing for strange (inconsistent!) reasons. Ultimately I removed the `TagTestWithSave` method and my tests started passing.

If you have a test that adds a

[2020-02-11 01:41] seankearney opened #199 "Id3v2, AttachmentFrame and Pictures - Are all Attachment's Pictures?"
I believe I've found an issue with ID3V2, `AttachmentFrame` and specifically the `Pictures` property of an `ID3v2` object.

I have an ID3v2 tag with images (`APIC`) as well as multiple `GEOB` frames comprising various binary ("application/octet-stream") and text data ("application/json"). When I access `ID3v2.Pictures` I am provided with all frames, not just picture frames. However, looking at `St

[2020-02-11 12:36] Starwer commented on #199
Hi @seankearney,

Seems like what you describe is an expected behavior.

Fact is the `Tag.Pictures` property doesn't represent only the pictures, but all the attachments (pictures _and_  raw files). I realize the name "Pictures" is confusing here, but for backward compatibility it hasn't been renamed to "Attachments". Similarly, an `IPicture` object may represent any kind of file, picture on not.

[2020-02-11 14:03] seankearney commented on #199
@Starwer I figured it was expected since tests were pretty explicit, but it is confusing as you pointed out. I also recognize backwards compatibility would be concern and this would be a breaking change.

Not sure if there is a roadmap for this project, being it is so mature, but perhaps a rename of these objects/properties is v3 worthy?

[2020-02-11 15:12] seankearney commented on #198
Here is the specific commit with sample tests
https://github.com/digitaldjpool/taglib-sharp/commit/a34361f1b13cd43a723bb9abde50c742204dbc05

[2020-02-11 19:01] seankearney opened #200 "When an Id3v2 tag is "Copied" to a `File.Tag` the "Pictures" aren't copied."
Given an MP3 file with an ID3v2 tag, if we attempt to use `CopyTo` on a new `Id3v2.Tag` to copy values over to the file we can see that text frames from the ID3 are copied over to the `Tag` abstraction, but the `Pictures` are left behind.

[2020-02-14 20:42] wim07101993 opened #202 "GEOB (General Encapsulated Object)"
Is there a way to get the GEOB from the tags?

[2020-02-17 06:55] Starwer commented on #202
Hi @wim07101993 ,

Sure! You can get these using `Tag.Pictures`. This returns Pictures (`APIC`) and non-picture objects (`GEOB`). See #199.

[2020-02-18 15:12] wim07101993 commented on #202
Ok thanks, i will have a look at that. The reason I ask is because some programs (eg: MixedInKey) store cue points in that data. Since you are able to parse the picture inside the GEOB, is there also a property to get those values?

[2020-02-18 16:20] Starwer commented on #202
For TagLib#, a `IPicture` just represents raw binary data that you can access using property `IPicture.Data`. It doesn't interpret what's there... it can only assess whether this has a known picture header, and still there this is not exhaustive, and that why it is useful to set the picture type `IPicture.Type` explicitly to register what this represents.
So I don't know in what format the cue is

[2020-02-19 00:16] #200 closed

[2020-02-19 01:34] carrzkiss commented on #79
This is still an issue, and it is February 18, 2020.
You would have thought, someone would have fixed this bug by now???

Any idea's on this one?

[2020-02-19 03:08] carrzkiss commented on #79
Just installed the new 2.2.0.0
And it still has this bug!!!

[2020-02-19 04:39] decriptor commented on #79
I'm looking at this right now. I'm not sure what it'll take to fix, but I'll keep everyone posted

[2020-02-19 05:26] carrzkiss commented on #79
Thank you so much for the response.
I am at a dead standstill until that is fixed.
The only thing left to do is to continue designing the website around everything else.

Thank you decriptor.
carrzkiss

[2020-02-19 09:34] wim07101993 commented on #202
ok thanks

[2020-02-19 09:34] #202 closed

[2020-02-23 01:32] carrzkiss opened #203 "'File' is ambiguous in the namespace 'TagLib'."
In my vb.net web site.
I have the following.

[code]

Within this Namespace, I have this.

`Dim mp3 As File = File.Create("~/FileUpload/" + getfile & ".mp3")`

I get the error message when the site runs.
'File' is ambiguous in the namespace 'TagLib.'

Any information on correcting this so that it will work will be much appreciated.

Wayne

[2020-02-23 02:00] tcHylmrX commented on #203
Your Namespace is named the very same as the File object you are using. Make your Namespace a little different.

From: carrzkiss <notifications@github.com>
Sent: Saturday, February 22, 2020 5:33 PM
To: mono/taglib-sharp <taglib-sharp@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mono/taglib-sharp] 'File' is ambiguous in the namespace 'TagLib'. (#203)

In my vb.net we

[2020-02-23 02:28] carrzkiss commented on #203
I renamed the namespace to

And I still get

I'm at a loss.
This all used to work until I had to make the Virtual Directory an Application within IIS.
And now, it does not.
I mean, the warning has always been there, and it would run without issue.
But since it is an Application now, it is giving me this error.

Since I changed the Namespace, it is still giving the error.
How would I write the code

[2020-02-23 04:04] carrzkiss commented on #203
Figured it out.
In my web.config file, it was referencing the wrong version number of the TagLib-Sharp.dll 2.1.0.0
`<add assembly="taglib-sharp, Version=2.1.0.0, Culture=neutral, PublicKeyToken=MyToken"/>`
I have the newer one, TagLibsharp.dll 2.2.0.0
`<add assembly="taglibsharp, Version=2.2.0.0, Culture=neutral, PublicKeyToken=MyToken"/>`

Once I corrected the version number and the name within t

[2020-02-24 07:54] decriptor commented on #203
@carrzkiss I'm glad that worked out. I'm going to close this. If there is something else feel free to reopen or ping me :)

[2020-02-24 07:54] #203 closed

[2020-02-26 22:49] Sausbolle opened #204 "Dealing with invalid XML hexadecimal characters"
Came over a file that had an invalid formatting of the metadata

The following metadata in a JPEG file
* `<rdf:Description rdf:about='' xmlns:photoshop='http://ns.adobe.com/photoshop/1.0/' photoshop:AuthorsPosition='CTR' photoshop:City='%G'/>`

Threw the following exception
* `Unhandled Exception: System.Xml.XmlException: 'exadecimal value 0x1B, is an invalid character. Line 4, position 132.`

`

[2020-03-09 20:16] carrzkiss commented on #79
Any update on this decriptor?
Just wanting to check-in.

[2020-03-11 11:52] jamsoft opened #205 "Adding New Tags"
I'm in the process of adding additional tag to Riff files.

Reading the new tag is all working fine. However when it comes to writing the new tag data back to the file I'm getting a file that has this new tag data in, but its also writing the original version of the tag into the the new file.

Meaning this new file now has two versions of the same tag data. I must be missing something in the write

[2020-03-11 13:59] MrCSharp22 commented on #205
Can you share the code? Both the reading bit and writing.

[2020-03-11 14:15] jamsoft commented on #205
So the write code is:

[code]

This is the read code:

[code]
I think whats happening is that the tag_found = true updated the start and end positions and treats this byte range as UNKNOWN STUFF and just writes it as a block even though the tag data was previously written. Not sure though.

[2020-03-11 14:20] jamsoft commented on #205
I also think that due to the audio files I'm dealing with are from advanced audio applications like Digital Audio Workstations (think Cubase and Logic) that the files I'm dealing with are not your usual ripped audio CD files and I think taglib sharp makes a LOT of unsafe assumptions about the file structures.

It doesn't break files per se but it does seem to do things it shouldn't imho.

For inst

[2020-03-11 14:23] jamsoft commented on #205
I also think that I'm spotting things stuff as I'm checking files at the binary level and with RiffPad.

Like I said, it's not breaking files as such but I'm a little uneasy with it making unrequired changes to file contents (id3 & JUNK) mentioned above.

[2020-03-11 16:46] decriptor commented on #79
@carrzkiss Sorry, I've had some stuff come up recently that has prevented me from working on anything at the moment (nothing serious). I'll hopefully have some time in the next week or so

[2020-03-11 20:15] jamsoft opened #206 "BWF MetaEdit Validation Fails"
I've just been testing and doing some byte peeping.

Any file I write to using taglib is then deemed invalid by BWF MetaEdit, yet seems to be valid and still plays fine in general applications and media players.

BWFMetaEdit is claiming there is no RIFF header, yet looking at the file in a binary viewer I can clearly see the RIFF header, exactly where it should be.

All that I'm changing is the ti

[2020-03-11 22:31] jamsoft commented on #206
Peeping at the bytes give no clues:
Working header:
![working-header](https://user-images.githubusercontent.com/2502211/76470312-bac09580-63e7-11ea-963c-567a838b317d.PNG)

After writing with taglib, BWF claims this file is missing a RIFF header:
![broken-header](https://user-images.githubusercontent.com/2502211/76470373-e0e63580-63e7-11ea-96a7-fe83544c5395.PNG)

As far as I'm concerned those two f

[2020-03-12 12:24] MrCSharp22 commented on #205
I am wondering if you have tried to remove all tags from the file first before writing anything to it?

[2020-03-26 20:26] AverageWeeaboo opened #207 "TagLib.CorruptFileException on File.Create for MP4"
Hi, In my code I have
 TagLib.File file = TagLib.File.Create(path)
which I'm using exclusively for MP4 files.
One my my files is throwing "Exception thrown: 'TagLib.CorruptFileException' in taglib-sharp.dll"
when generating file at its path. The Taglib.File object is still created properly meaning I can edit its metadata and once saved I can still watch/listen to the video perfectly fine so I do n

[2020-04-09 09:43] sba923 opened #209 "Can't get Taglib# to work with PowerShell 7"
I've downloaded the latest 2.2.0 bits and can't get Taglib# to work with PowerShell 7.

Here's my test script:

[code]

When running under Windows PowerShell 5.1 I get:

[code]

But under PowerShell 7.0 I get:

[code]

Am I missing something?

[2020-04-11 20:51] omidrh opened #210 "How can I add frame to Id3v2 tag?"
I try to add new frame in this way:

[code]

but WOAF frame value not set.

[2020-04-14 06:43] TheMinefighter opened #211 "Wrong Encoding for Matroska?"
It seems that this library does not encode non-ASCII characters wrong for Matroska containers:
When is set the name to `So schön anders` with this lib, Mediainfo, vlc and other read it as follows
![grafik](https://user-images.githubusercontent.com/32145868/79193846-b72b8e80-7e2b-11ea-807f-88f8c45e95db.png)
This seems wrong.

[2020-04-15 06:05] Starwer commented on #211
Hi,
In theory, the Matroska part in TagLib# is designed  to use UTF-8 for special characters. UTF-8 is a requirement for Matroska. Other encoding for text of any kind is just not compliant.
This is tested in https://github.com/mono/taglib-sharp/blob/4340975d298ddb3748d508fbff866f07c1cb997d/src/TaglibSharp.Tests/FileFormats/MkvFormatTest.cs#L218

Could you please check in the binary of the file you

[2020-04-15 07:07] TheMinefighter commented on #211
Seems not to be encoded correctly: ![grafik](https://user-images.githubusercontent.com/32145868/79307050-8f552d00-7ef6-11ea-9666-d000dae13811.png) The test mentioned is running correctly and I do not doubt that because when I read it from your library it reads as `So schön anders`.

However I find it quite unlikely that this lib is the only one doing it correct because even those which are feature

[2020-04-18 19:47] Vasilich commented on #211
@TheMinefighter
are you testing on Windows 10? if yes -then can you check whether "Settings - Time and language - Region - Additional date, time and region settings - Region - tab Administrative - Language for non-unicode programs - change system locale - checkbox Beta:Use unicode UTF-8 for worldwide language support" checkbox checked or not. If yes - try to uncheck it, reboot and run your tests a

[2020-04-18 20:22] TheMinefighter commented on #211
@Vasilich Thanks for the comment; yes I'm running Win10; no the checkbox is disabled on my machine.
![image](https://user-images.githubusercontent.com/32145868/79670405-f7d82e80-81c2-11ea-9325-babbd7afbc44.png)
Is anyone of you able to reproduce the issue?

[2020-04-19 12:32] xmha97 opened #212 "Read full tag string"
Hello,
Comments tag is "1;2;3;4;"
![image](https://user-images.githubusercontent.com/23485114/79687705-6ddda380-825e-11ea-86db-560beac76fe3.png)

I used this code to get the comment tag.
[code]

But this return only first item: ( <ins>*1*</ins>;2;3;4;)
![image](https://user-images.githubusercontent.com/23485114/79687776-e04e8380-825e-11ea-8758-d380e42f52c9.png)
Please help me to read full tag stri

[2020-04-21 23:15] Agagamand opened #213 "Add support .tak audio"
Its very great lossless format. Use APEv2 tags.

https://wiki.hydrogenaud.io/index.php?title=TAK
http://thbeck.de/Tak/Tak.html

[2020-04-23 11:36] willkara opened #214 "Merge PR #190 & release new NuGet package to add support for .NET Core 3.1"
Starting on another project using .NET Core and would love to use taglib-sharp.

Nuget still complains about it "not being targeted for .NET Core 3.1"

Looks like PR #190 is open and would add support.

[2020-04-24 16:15] agonzalezm commented on #138
when is the net core version going to be released?

[2020-04-24 16:33] decriptor commented on #138
My assumption would be later this year. There have already been 3 .net 5 preview releases now. I'm guessing we'll get a better idea after MS Build 2020 (live streamed)

[2020-04-24 17:06] decriptor commented on #214
I'm going to try to knock this out over the weekend. 🤞

[2020-04-24 23:52] willkara commented on #214
You da man! I’ll be available to test once available on NuGet 😊

From: Stephen Shaw <notifications@github.com>
Sent: Friday, April 24, 2020 1:07 PM
To: mono/taglib-sharp <taglib-sharp@noreply.github.com>
Cc: William Karavites <wkaravites@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [mono/taglib-sharp] Merge PR #190 & release new NuGet package to add support for .NET Core 3.1 (#214)

[2020-04-26 17:19] #192 closed

[2020-04-26 17:22] decriptor commented on #155
In my current PR #215 I've switched out to ImageSharp instead of gtk#. The negative to this is that TIFF isn't support yet (there is a PR). The upside to using ImageSharp is there are no additional dependencies. For example, we don't depend on gtk+ being installed. Also, it seems crazy to bring in an entire UI toolkit and platform just to validate the md5sum on some images :D

[2020-04-26 20:09] #214 closed

[2020-04-26 20:09] #155 closed

[2020-04-26 20:30] decriptor commented on #209
Disclaimer: I'm not very familiar with powershell, but... :)

I believe one of the differences between Windows Powershell and Powershell 7.0 (Core) is which version of the .net framework it is using.
Powershell Core 7.0 is .netcore based.

I was able to get your script to work with a minor tweak.
I added this:
[code]

[code]
§ DESKTOP-I0CK6PP {C:\tmp}> .\TagLibTest.ps1
Running under PowerShell 7.0

[2020-04-26 20:30] #209 closed

[2020-04-26 22:33] willkara commented on #214
Awesome!

Thank you!

Should I use the lib locally or will there be a NuGet release soon?

*	Will

From: Stephen Shaw <notifications@github.com>
Sent: Sunday, April 26, 2020 4:10 PM
To: mono/taglib-sharp <taglib-sharp@noreply.github.com>
Cc: William Karavites <wkaravites@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [mono/taglib-sharp] Merge PR #190 & release new NuGet package to add

[2020-04-27 05:24] decriptor commented on #214
@willkara It depends. I'm hoping to do a new release in the near future. I suppose it depends on how soon you need it. I'm going through and cleaning up some code. I'd like to do that before the release so I'm not sure how soon I can promise a release. I'm hoping in the next couple or so weeks?

Though, 2.2.0 already targeted netstandard 2.0, so that should probably work already?

[2020-04-27 11:00] willkara commented on #214
I just tested and it should be good enough for now. I’m still in the very early stages on my project so no rush if it takes a month or so.

*	Will

From: Stephen Shaw <notifications@github.com>
Sent: Monday, April 27, 2020 1:25 AM
To: mono/taglib-sharp <taglib-sharp@noreply.github.com>
Cc: William Karavites <wkaravites@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [mono/taglib-shar

[2020-04-27 21:41] decriptor commented on #214
Glad to hear it! I'm curious, can you share what you project is?

[2020-04-28 10:23] willkara commented on #214
No problem! I’m finally developing something I’ve been thinking of for a while. The idea is that it’s a web-app to help manage your multimedia collections. I know it’s been done before, but it should be a fun thing to put together.

*	Videos (Movie/TV, Home Movies)
*	Audio (Music)
*	Images

You’d be able to do mass renaming, fix titles, query IMDB/TVDB for info and embed in the files …etc.

So I’d

[2020-04-28 11:02] joern-h commented on #193
Hi, i can confirm that this bug is also present under Linux.

[2020-04-28 12:03] lebunne opened #217 "Musician Credits not saving"
Updated my project from V2.0.4.0 to V2.2.0 so as to take advantage of the UrlLinkFrame. However with this version the Musician Credits tag does not appear to work. When I switched back to V2.0.4.0 it all started working again.

The code I use is as follows (TMCL is the idV2Name in this case): I set the ID3 version to 2.4 as this is required for Musician Credits.
[code]

[2020-05-03 06:59] sba923 commented on #209
It does, thanks a zillion. Now I want to understand why this is necessary, I'll try to get some clues from the PowerShell team.

[2020-05-13 11:37] jfholmes opened #218 "Jpeg File creation fails when IPTC IIM sequence 0x1C02 appears in non-IIM part of APP13"
I've got a particular Jpeg file which contains IPTC data in the APP13 segment. When I open the file using File.Create(), an exception is thrown. The problem is that Jpeg.File.ProcessApp13Segment() passes the entire segment to an IIM Reader, and not just the IPTC IIM data. Then, the IIMReader finds the IPTC dataset marker (0x1C02) in the non-IPTC IIM part of the segment but attempts to read it as a

[2020-05-18 16:36] fabiohvp commented on #79
Any updates on this?

[2020-05-18 17:06] decriptor commented on #79
Sorry everyone. My life got flipped upside down a bit. I'm hoping that things will settle a bit in about 3 or 4 weeks.

[2020-05-25 12:13] navidyazdi commented on #175
I have the same issue, webm is supported for audio only so when I want to use it for Video it's not supported. Do you have any alternative way to check properties of  a webm file?

[2020-06-05 03:50] carrzkiss commented on #79
I was using a library called: NAudio, for getting the length of the track.
However, it no longer works with Windows 2016 Server Core.

Decriptor.
If you have anything on this, that would be wonderful.
I just got my servers back up and running after over a month of hardware issues, and the only thing which is left to getting content added to the new site is the length of the audio.

Please help us

[2020-06-05 15:56] decriptor commented on #79
Let me see what I can figure out. Things are slowing down just a little bit after the move.

[2020-06-07 21:56] carrzkiss commented on #79
Well, I tried another component (NReco.VideoInfo)
It will not work in Server Core.
The only component I have tested, that fully works in Server Core, is TaglibSharp.
It works GREAT! But the Duration is the stopping point right now.

I am at a complete loss unless you can get the Duration to work, or I can find a component that will work in Server Core.

[2020-06-08 03:00] tgreve15 commented on #79
Although not ideal, can you use a separate component that just gets the
correct video length and bypass taglib's function until it can be resolved,
but use taglib for everything else?

On Mon, Jun 8, 2020, 7:56 AM carrzkiss <notifications@github.com> wrote:

[2020-06-08 04:57] carrzkiss commented on #79
I am doing that right now, tgreve15.
It took a while to find the correct information, but I got it working.
I am using "`NReco.VideoInfo`"
I copied over the following files from the Main Desktop Experience Web Server
To all 5 Core Servers.

[code]

Rebooted all the servers, and wa-la.
It works.
So, now I am able to get the duration.
I would LOVE to have it done by one single component, but, I can

[2020-06-11 09:43] teekay opened #220 "Comments in Apple tag are truncated"
I've observed the following behavior: when my m4a track has a comment field that contains semicolons, only the part before the first semicolon is returned when accessing the "Comment" property.

Example:
actual value = "B#; great opener; positive, optimistic yet lyrical"
returned value = "B#"

This looks intentional. The "GetText()" method splits the value of the DataBox using a semicolon. The get

[2020-06-15 12:53] Ja-mi opened #221 "Opus file corrupted by release 2.2.0 of TagLibSharp"
With TagLibSharp release 2.2.0, I am trying to add XiphComment to opus files which seem to corrupt files.

opusinfo return this error :
**Negative or zero granulepos (0) on Opus stream outside of headers. This file was created by a buggy encoder**

An error is also returned by foobar2000 v1.4 when verifying integrity of the tagged opus file :
**Nonsense Ogg granulepos value, file is not properly s

[2020-07-02 23:14] EricOuellet2 opened #224 "System.NotImplementedException: 'Unknown type/count 3/0 (0)'"
I got : System.NotImplementedException: 'Unknown type/count 3/0 (0)'
When used with attached image (new from a new Sony a6400 camera.

Code:
private void ButtonClick(object sender, RoutedEventArgs e)
		{
			FileHelper.ApplyForEachFileRecursively("f:\\exif", (path) =>
			{
				if (path.EndsWith(".jpg", StringComparison.OrdinalIgnoreCase))
				{
					var metaData = TagLib.File.Create(path);
					var

[2020-07-22 15:52] bocca opened #226 "System.NotImplementedException: Unknown type/count 5/0 (1)"
Some of my photos raises an error. I can't figure out what is the difference with the rest. All taken with the same camera and edited with the same program. There are two variants of the error, with offset 1 and with offset 2. Sample offending images attached. TagLibSharp version 2.2.0 included in Jellyfin 10.0.6.0.

[code]

[code]

![003](https://user-images.githubusercontent.com/2213335/88198348

[2020-07-22 23:51] syl-ans commented on #212
Hello team,
I have more or less the same issue.
For music from "AC/DC" taglib reads only "AC". The special character and what follows is not sent.
The problem occurs for all the tags I tested  : FirstArtist, FirstAlbumArtists and FirstPerformer.

Thanks in advance for a way to bypass this problem.

[2020-07-24 03:36] xmha97 commented on #212
Hi, @syl-ans
Let me know if you find a solution.

[2020-07-25 18:10] david-hill opened #227 ""/" is removed from performers and albumartists"
"Morton Feldman - Sabat / Clarke" becomes:
"Morton Feldman - Sabat   Clarke"

$taglib = "d:\tools\taglib-sharp.dll"
[system.reflection.assembly]::loadfile($taglib)

function find_artist {
  $_=$args[0]
  $media = [taglib.file]::create($_.FullName)
  $tags = $media.GetTag('Id3v2')
  $fileperformers = $tags.performers
  $filealbumartists = $tags.albumartists
  if (-not ( $fileperformers -eq $null) -

[2020-08-11 12:11] pallaviagarwal0301 opened #229 "Having problem to add tag in case of null date taken"
Dear Sir,

I am facing a one major issue .when i add keyword in image than in case of null date taken it does nothing.
and when i added date taken by code still it doesnt work but if i added date manually then it work

but i have to add date using code

please help

[2020-08-21 00:46] JerzyR opened #230 "Jpg tag properties not working"
Dim fl As TagLib.File = TagLib.File.Create(pth)
Dim tak As TagLib.Image.CombinedImageTag = CType(fl.Tag, TagLib.Image.CombinedImageTag)
tak.Software = "my software"
Cannot assign to property, it is Nothing , also many other properties does not work, especially dates
The only one Comment property accepts new data in code when i debug but after i call   fl.Save() it is not saved

How to write tags t

[2020-08-28 22:36] tonyfinn commented on #193
This looks to be an id3 version difference..

[ID3v2.3](https://id3.org/id3v2.3.0#Text_information_frames) lists several tags (but notably not TPE2 which most players show as album artist) as supporting multiple values being seperated by `/` characters.
[ID3v2.4](https://id3.org/id3v2.4.0-frames) lists all text tags as supporting multiple values seperated by null bytes in the section on text infor

[2020-09-01 21:22] syl-ans commented on #212
Hi @xmha97,
Maybe what we are experiencing is not a problem. Could be "works as designed".
If you look at another issue reported in github : #193  the user complains that AC/DC is red as multiple artists.
One of the response given  says that in id3v2 normally the separator for multiple artist is ";", he says then that "/" can be used too.
It would mean that in your case 1;2;3;4 should be sent as 1

[2020-09-13 21:26] mgomez00 opened #231 "TagLibSharp fails to detect tags on mp4 file"
Hello,

I originally opened a post at https://community.metabrainz.org/t/newbie-first-day-first-question/491935/3 about this issue, but after a short discussion with one of the member he suggested thet I bring the issue here,

The case is;
I have noticed that some tags are not saved to the fuile metadata (specially for mp4 files) , for example Tone (or BPM in mp4).
Is there a way to intercept this

[2020-09-13 22:25] mgomez00 commented on #231
![image](https://user-images.githubusercontent.com/69732529/93029957-38f73200-f5ed-11ea-817c-0a8fbd6abc98.png)
![image](https://user-images.githubusercontent.com/69732529/93030024-dce0dd80-f5ed-11ea-9dec-b56422b26904.png)

[2020-09-24 04:48] decriptor commented on #221
@Ja-mi I just merged the fix from @ta264. Would you be able to pull the source and test?

[2020-09-25 06:56] Ja-mi commented on #221
@decriptor : I have not any build environment to generate the library.
Can you provide me a binary net45\TagLibSharp.dll ?
I would be glad to test.

[2020-09-28 16:40] decriptor commented on #221
@Ja-mi Sure, Let me see if I can build and share a dll with you. Are you targeting `net45` or something newer like .net core? or .net standard?

[2020-09-29 18:12] Ja-mi commented on #221
@decriptor : net45

[2020-09-30 05:12] decriptor commented on #221
@Ja-mi  Sorry, this is net462 and netstandard 2.0. I hope that this'll still work for you.
[TagLibSharpBuilds.zip](https://github.com/mono/taglib-sharp/files/5303200/TagLibSharpBuilds.zip)

[2020-09-30 19:00] Ja-mi commented on #221
Thanks, net462 is fine.

I have just redone the exact same test I had described in "Steps to reproduce, with Powershell on Win10" when I had opened this issue.

And the result is OK : the tagged opus file is valid when I check it with opusinfo and foobar2000 v1.4.

I will do further experiment.

[2020-09-30 19:04] decriptor commented on #221
@Ja-mi fantastic, thanks for testing. I'm going to mark this as closed, but if you hit anything feel free to re-open or file a new issue.

[2020-09-30 19:04] #221 closed

[2020-10-03 03:45] EatonZ commented on #166
Any thoughts on this yet?

[2020-10-03 03:45] EatonZ commented on #165
Any thoughts on this yet?

[2020-10-03 04:55] decriptor commented on #166
@EatonZ I'll add this and the other issue to my todo list. If you still have the PR with the fix and unit test(s) and can submit it that'd be great even if it has a bunch of line ending problems. I can try and pull in the change without pulling in the line ending changes.

[2020-10-07 13:12] vrdriver opened #234 "Custom APE tags for RIFF (wave file)? Is it possible?"
Hi, I'm attempting to read (and later write) WAV files with known custom APE tags, but there doesn't seem to be a way to do it?
Am I missing something?

The main help example says it's possible (basically)

[code]

This code of mine works if the file is an MP3, but will fail in this example, as it's been given a WAV File.
[code]

 This also fails as well, because Riff doesn't appear to have custom

[2020-10-08 10:19] Starwer commented on #234
Hi,

Don't know too much how you the APE  tag could be retrieved... we miss a unit test using it here...
I guess if the the file you open doesn't contain already an APE field, then no `TagLib.TagTypes.Ape` object is created.

However, once an Tag object is created in TagLib#, you should most of the time be able to access custom tags. However, the interface to access those is not "standardized" thr

[2020-10-08 19:04] antiqtech commented on #79
hello,
I'm using taglib version 2.1.0 from nuget. This problem still persists on some of the mp3 files I have on the project.
any update on fixing the bug?
best regards.

[2020-10-08 20:59] decriptor commented on #79
Sorry all, this slipped off my radar with a bunch of things going on. I don't have a fix yet. If someone has a rough fix that'd be very helpful and speed the process up.

[2020-10-09 00:18] vrdriver commented on #234
Thanks I'll take a look at this and see how I go.

[2020-10-09 13:34] JohnnyBravo75 commented on #182
I have the same problem, many (most) of my pictures.
I can read the properties but I get "Size of entries exceeds possible data size" and cannot  save them (but other programs can)

[2020-10-09 15:12] decriptor commented on #182
Interesting, it is very possible/likely a bug in taglib-sharp. Unfortunately, I'm short on time lately, but I'll see if I can't figure this out. Of course, patches are welcome ;)

If any of you have a very small image (size) that has this problem and don't mind I could include it in the test suite.

[2020-10-12 15:29] JohnnyBravo75 commented on #182
It seems to be a bug, and a serious one, because it prevents editing the metadata of a huge amount of images.
I can only include big images from camera (3-4mb).

[2020-10-12 15:42] decriptor commented on #182
@JohnnyBravo75 Agreed. I have very limited bandwidth. I'll do my best to look at this.

[2020-10-13 11:36] JohnnyBravo75 commented on #182
![IMG_20191016_103202_small](https://user-images.githubusercontent.com/7339098/95855619-fabe7100-0d58-11eb-9bc8-0f0d3c122963.jpg)

` using (var fileMetaData = TagLib.File.Create(filePath, full ? TagLib.ReadStyle.Average : TagLib.ReadStyle.PictureLazy))
 {
    var allTags = (fileMetaData.Tag as CombinedImageTag);
 }`

[2020-10-14 12:10] vrdriver commented on #234
Hi @Starwer, Thanks for pointing me in that direction. I did have a much deeper look this time and it appears that those tags available in the `Riff/InfoTag.cs` appear to be fixed and basically following [these standard 4 digit codes](https://exiftool.org/TagNames/RIFF.html).

After doing more research in to what is actually going on, I opened up my file in a HEX editor, and surprisingly it seems

[2020-10-28 12:23] vrdriver commented on #234
I'm not sure if [this project](https://github.com/Metrilus/xmp-sharp) will work, but I'm going to give it a go.

[2020-10-28 14:27] decriptor commented on #234
@vrdriver Hey, sorry. My life is a bit upside down right now. Please let me know how it goes.

[2020-11-04 15:06] powercode opened #236 "BPM parsing is culture sensitive"
[code]
is used to parse BeatsPerMinute

!double.TryParse(textAsString, NumberStyles.AllowDecimalPoint, CultureInfo.InvariantCulture, out var result )

[2020-11-11 19:48] Vesper-Works opened #237 "Opening and saving .mp3 corrupts file"
Installing from NuGet, both TagLibSharp and TagLibSharp Netstandard2.0 corrupts the .mp3 file after simply opening the file and saving it.
Hex data of the file:
Before:
![image](https://user-images.githubusercontent.com/59376295/98857089-7560d600-2456-11eb-9fda-c139fb6a4d04.png)

After:
![image](https://user-images.githubusercontent.com/59376295/98857144-90334a80-2456-11eb-81af-351c90a351a2.png)
!

[2020-11-12 03:59] tgreve15 commented on #237
Doesn't the first line of your code suggest it's downloading the file
asynchronously? Are you sure that's finished before Taglib kicks in?
Or does the await command ensure that is finished?
Have you tried it with the file local and run the taglib bit?

On Thu, Nov 12, 2020, 6:49 AM Vesper <notifications@github.com> wrote:

[2020-11-12 17:45] Vesper-Works commented on #237
@tgreve15 Testing the code on an mp3 file I already have reveals that the code is working, the tags change as I set them perfectly.
Running the code on button press, long after I've finished downloading the .mp3 to make sure, still corrupts the file.

I reckon the issue is with the file download not being mp3, which is screwing things up.
I'll add an ffmpeg conversion to mp3 after finding out what

[2020-11-13 00:31] tgreve15 commented on #237
Glad to help vesper, good luck getting it working properly

On Fri, Nov 13, 2020, 4:45 AM Vesper <notifications@github.com> wrote:

[2020-11-13 09:02] Vesper-Works commented on #237
Thank you

[2020-11-13 09:02] #237 closed

[2020-11-19 23:00] EatonZ opened #238 "JPG detection bug"
[GetExtensionFromData](https://github.com/mono/taglib-sharp/blob/333bdcbaec7c800ff66bd6d9839f3706ef262ebd/src/TaglibSharp/Picture.cs#L548) has a bug where it can fail to detect certain types of JPG images.
The detection works by checking the first 4 bytes, which are: 0xFF, 0xD8, **0xFF**, **0xE0**.

The bolded bytes are where the problem is. According to 010 Editor, this is the "marker" value. tag

[2020-11-21 06:23] Starwer commented on #238
`GetExtensionFromData` is indeed far from being exhaustive and bullet-proof. It is a fallback method to attempt to retrieve type of a raw data we attach to a tag (typically a picture, but not always even!) without knowing its file-extension or mime-type. The way data types are inferred looking at the first bytes is quite empirical I think... If you can improve it or extend the filetypes which can

[2020-11-21 13:54] tmilker commented on #227
/ is the separator in ID3 for frames that can have multiple values.  TPE1 (Performers) explicitly defines its use.  TPE2 (Album Artist) doesn't but it appears to be treated the same by taglib-sharp.  Unfortunately, ID3 doesn't define a way to escape /.

I am guessing that Powershell is automatically concatenating the arrays you're getting into strings which is hiding the real behavior from you.

[2020-11-23 04:15] EatonZ commented on #238
@Starwer I think a better way would be to check the first 2 bytes of the JPG (SOIMarker) and the last 2 bytes (EOIMarker).
Those _should_ be in every valid JPG. I'll look into getting a PR up for it.

[2020-12-10 18:43] EatonZ commented on #166
@decriptor Looks like someone fixed the line endings, so there were no issues with my PR today.🙂

[2021-01-20 10:46] SMRShahim opened #246 "problem in read arabic character"
hi
i use taglibe sharp but this has a problem with arabic character
in reading tag info its show up the arabic character to latin! and make a problem to copy tags

in detail : مباحث
but it showed : ÇÈÌÏåæÒ

[2021-02-01 14:55] KoenDeMol opened #249 "Tags not saved/written"
I tried to use this library in .Net Core 5 application just as described in the docs. I can "create" the TagLib file. I set some tags, like example file.Tag.Title = "xxxx" (which can be seen as succesfully set in the debugger). I can do .Save() without getting any errors, but the tags are not written/saved. I can't see it in the "Property/Details" in Windows Eplorer and when I reopen the file with

[2021-02-03 18:45] grbrandt commented on #167
@gitChef30 Which API version are you targeting? If 10 (Android Q), the exception is most likely caused by changes on how the platform works.

Try targeting API 9 or, set the property `android:requestLegacyExternalStorage="true"` in the `application `node in _AndroidManifest.xml_

[2021-02-13 08:01] VicLo2020 opened #250 "Encoding windows 1251 for tags"
Hello
How can one get windows-1251 encoding from tags in normal UTF8 form for display?
I get: "Ëó÷øèå ïåñíè" instead "Лучшие песни"

[2021-02-14 21:58] Vasilich commented on #250
1. UTF8 isn't "normal" for .NET world.
2. where do you get this string? from what tag?
E.g. ID3v1 assumes Latin1 as encoding, and you can simply convert it to unicode (or UTF8, if you want) using function:
`		// converts string from ID3v1, converted to unicode from 1-byte encoding and
		// interpreted as Latin1 (hardcoded in TagLib/Id3v1/StringHandler.cs),
		// to unicode, using given encoding.

[2021-02-15 04:31] VicLo2020 commented on #250
I took this composition - https://yadi.sk/d/zJ-lMWT4cWFbkw
and got the result as indicated above.

[2021-02-15 07:47] Vasilich commented on #250
1. The encoding in this file in ID3v2 tag is totally wrong, as it uses win1251, but marks fields with encoding "Latin1".
2. it is highly uncommon, that ID3v2.3 tags use Latin1 for string fields containing artist, album or title - default is to use UTF16.
![id3v2_wrong_enc](https://user-images.githubusercontent.com/1168434/107918615-4df43a80-6f6a-11eb-954b-d10defe736f4.png)

So either you need to c

[2021-02-17 04:02] #250 closed

[2021-02-25 13:25] Vasilich opened #251 "why id3 tags are always created at read of Mpeg audiofiles?"
Thanks for great TagLib# library.

I am using TagLib# to analyze mp3 files, and had recently some files with several tags of same type (e.g. id3v2) in one file. So far i found the way to detect/list all those tags with using `(tagFile.Tag as TagLib.NonContainer.Tag).Tags`.
I read tags with `tagFile = TagLib.File.Create(filename);` and it correctly reports, that e.g. tagFile.TagTypesOnDisk are _Id3

[2021-02-25 20:07] babakmdi opened #252 "support .net core"
hi, can we use your library on uwp ? or in xamarin forms?

[2021-03-03 14:51] hwahrmann commented on #251
I went back in file history as far as i could get and this was already in the code at 2007.

I guess they wanted to make sure that in any case a ID3v2 is there.
i think the only way to work around for you is to check if TagTypesOnDisk does not contain id3v2 and if this is the case you would remove it before saving the file.

i fear that a lot of programs are relying on the fact that when opening a

[2021-03-03 14:54] hwahrmann commented on #249
could you try with an audio file please? e.g. a mp3

[2021-03-03 15:00] Vasilich commented on #251
Not only id3v2 - this flag is true also for id3v1.
Maybe we can create flag/property for it, and set its default value to "true" as it is now, but with possibility to change it before reading tags from disk?

Anyway - thanks for looking into it.

Right now i have corrected it in local code after checking out TagLib# and taking only that part what i need for my app (tags in MP3 file).

[2021-03-03 16:09] KoenDeMol commented on #249
That does work, MP4 files also. But not AVI, MKV or JPG (so far the only ones I tested).

[2021-03-03 16:29] KoenDeMol commented on #249
New info: I had installed trough Nuget, now I downloaded the source and built it myself. MKV and JPG are now working, but still no AVI

[2021-03-03 18:00] hwahrmann commented on #249
Yes, but for a JPG you should only see the Comment. Right?
There is no Title in a JPEGComment.

[2021-03-03 18:02] hwahrmann commented on #249
for AVI i thinbk you either need to create a id3v2, divx or riffinfo Tag and then it will be saved.
can you post a snippet on how you want to write to avi?

[2021-03-03 18:05] hwahrmann commented on #251
Right. But as i said, there are a lot of applications using taglibsharp, which are relying since > 14 years on the fact that those tags are there.
So only a flag could be the option to prevent that.
i'll see, if i can do something

[2021-03-05 17:49] decriptor commented on #252
@babakmdi From a technical standpoint I believe so.  However, from a licensing standpoint I'm not sure you can use it on iOS? I'd recommend looking into the license and being compliant with that...

Having said that I'd like to eventually move this to something like MIT so that it is more accessible to other platforms.

[2021-03-05 17:57] babakmdi commented on #252
IOS is not important for me, android is important and uwp .

[2021-03-07 20:14] benrr101 opened #255 "ASF creation date ticks should be based on FILETIME struct"
Was digging around in the FFMpeg source this afternoon and noticed a [peculiar comment](https://github.com/FFmpeg/FFmpeg/blob/master/libavformat/asf.h#L43). Turns out the creation date stored in an ASF FilePropertiesObject is based on a FILETIME struct from the Windows SDK (https://docs.microsoft.com/en-us/windows/win32/medfound/mf-pd-asf-fileproperties-creation-time-attribute). Contrary to .NET's

[2021-03-08 04:41] benrr101 commented on #255
After looking a bit deeper, I realized this is a pretty inconsequential issue b/c the creation date is never used and unless a user re-reads the `HeaderObject` from disk, there's no way to access `FilePropertiesObject` from the API. Nevertheless, I've got a fix for it and another bug I found out for PR. Thanks!

[2021-03-10 10:41] hyperpixel34 opened #257 "MP3: Can't see Album art on Windows Media Player"
Hello,

I can't see the Album Art on Windows Media Player, but I can see it on VLC.
I'm using this Code:

`TagLib.File trackFile = TagLib.File.Create("/path/to/mp3");
 Picture picture = new Picture("/path/to/jpeg"));
 picture.Type = PictureType.FrontCover;
 picture.MimeType = "image/jpeg";
 trackFile.Tag.Pictures = new TagLib.IPicture[1] { picture };
 trackFile.Save();`

Hope you can help me

[2021-03-13 15:48] forReason opened #258 "Can't read/write custom Tags to .wav file"
So for normal tags such as title, artist etc, the library works fine.

I am in dare need for custom fields. I have looked at the readme example which states the following code:
[code]

unfortunately, this does not bring me any further. When I execute the code, after the following section, the cariable `custom` is null. There is no error thrown:
[code]

[2021-03-15 06:22] EpsiRho opened #259 "Can't set array of tags to an image's "Keywords" property"
Images with keywords already will show properly, but when an image doesn't already have Keywords, the array wont set. I also cannot resize or copy my array into it.
[code]
Array.Copy() Returns `Destination array was not long enough. Check destIndex and length, and the array's lower bounds.`

And when trying to resize the array, I find that I can't use ref or out keywords with properties or indexer

[2021-03-16 22:10] forReason commented on #76
funnie, had the same issue with my very own decoder. thumbs up great solution

[2021-03-30 02:30] rb0135 opened #262 "SAVE freezes inconsistently when changing titles of several Movie files"
Hi,

Ive run into a problem where executing the .Save() command freezes. There is no returned error, just seems the save thread freezes.

To elaborate, I am using the small routine (see below code) to change the Title of my movie files (mp4, mkv and avi files only) and if I run a single movie through the routine to change the title it will work. If I start a batch with a lot of files to change, I

[2021-03-30 03:27] rb0135 commented on #262
Ok, after some more testing, I have found out when the Save freezes.

When the original Tag.Title of the movie is NULL, and I change it to some value, then the save will consistently freeze.

However, also I can prove that after the freeze, if I look at the file, the Title Tag has been updated with the value I set.

Hope this extra info helps.

[2021-05-04 17:39] dbotz commented on #182
I am experiencing the same problem.  I noticed that if I remove the "makernotes" using exiftool (exiftool -makernotes:all=), taglib sharp is happy and does not mark the file corrupt.

[2021-05-13 01:06] BlackTieSoftware opened #263 "Album is being set to the Title"
On lines 768, 773 and 777, TITLE should be changed to ALBUM. Here's what it should be.

		/// <summary>
		///    Gets and sets the album of the media represented by the
		///    current instance.
		/// </summary>
		/// <value>
		///    A <see cref="string" /> object containing the album of
		///    the media represented by the current instance or <see
		///    langword="null" /> if no value is pre

[2021-05-14 04:33] #166 closed

[2021-05-14 04:39] decriptor commented on #251
Assuming #254 fixes this I'm going to close this issue. If not, please reopen

[2021-05-14 04:39] #251 closed

[2021-05-14 04:43] #238 closed

[2021-05-14 04:45] benrr101 commented on #255
Fixed in #256

[2021-05-14 04:45] #255 closed

[2021-06-19 15:38] WingDust opened #266 "Chinese char will garbled But title and subject also change with right char"
I  using powershell call `TagLibSharp.dll` to change `jpg` file Properties comment .

But using Chinese to change comment will garbled ，And The title and subject also change. It's so weird with right char .

PowerShell:
![image](https://user-images.githubusercontent.com/45911286/122647149-51d0dd00-d155-11eb-9776-14ab88d21e8e.png)

Before change
![image](https://user-images.githubusercontent.com/45

[2021-06-19 15:46] WingDust commented on #266
By the way powershell use `utf8`

[2021-06-20 05:48] WingDust commented on #266
Update:
Using one char `氷` will sucess
![image](https://user-images.githubusercontent.com/45911286/122663576-17575680-d1ce-11eb-9a60-ac26401ed85c.png)

 two char `氷菓` will garbled
![image](https://user-images.githubusercontent.com/45911286/122663565-fee73c00-d1cd-11eb-8dca-966065d9bf73.png)

two char with space `氷 菓` will sucess
![image](https://user-images.githubusercontent.com/45911286/122663560

[2021-07-12 04:31] SID9-HoneyBee opened #267 "Can I get the rotation information of a video file?"
I want to get rotation tag information from a video file in MP4 format.

MediaElement in WPF ignores rotation tags.
so I
I want to control LayoutTransForm by utilizing that tag information.

Is there any way to get rotation tag information from my video?

[2021-07-17 17:25] mitchfizz05 opened #268 "Using ReadStyle.PictureLazy still loading album art into memory"
When loading music files using `TagLib.File.Create(file, ReadStyle.PictureLazy)`, the album art continues to be loaded. This causes huge RAM usage when dealing with many files.

Adding `file.Tag.Pictures = null;` mitigates the RAM usage issue, however isn't ideal. (Images cannot be lazily accessed, constant GCs)

**RAM usage _without_ `Pictures = null`:**
![Default Behaviour](https://user-images.g

[2021-07-20 07:51] Starwer commented on #268
What kind of file (extension) do you load with `TagLib.File.Create(file, ReadStyle.PictureLazy)` ?
I've tested the lazy loading successfully with videos mainly, but it could be that it's not yet implemented in some other formats.
What does the `IsLoaded` property (from the pictures types) returns ?
This feature is tested by `src/TaglibSharp.Tests/FileFormats/StandardTests.cs`

[2021-07-24 16:30] mitchfizz05 commented on #268
This is with flac files. I've just tested and mp3 files are unaffected.

The images don't even load as `ILazy`.

**To reproduce:**
[code]

**Output for me is:**
[code]

If you need a quick file to test with, [here's one](https://files.yiff.pics/Share/Test.flac), though from my testing it happens with any flac file.

Hope this helps!

[2021-07-28 10:34] Starwer commented on #268
Indeed, Flac have their own `Picture` implementation, which doesn't implement `ILazy`...
I have no time now to work spend on this, so if there is any volunteer

[2021-08-09 18:16] 727-363-747 commented on #262
I can confirm this is happening for me too. The following snippet will hang every time on mp4 files:

`try
{
	using (TagLib.File mediaFile = TagLib.File.Create(fileName))
	{
		mediaFile.Tag.Year = (uint)movieTitle.Year;
		mediaFile.Save();
	}
}
catch (Exception x)
{
	message.Text = string.Format("Metadata update failed: {0}", x.Message);
}
`

[2021-09-12 22:10] Ts-Pytham commented on #79
Hello,
Any updates on this?

[2021-09-15 20:08] DirtyNative opened #270 "System.IndexOutOfRangeException: Index was outside the bounds of the array"
I get an error when I try to load an mp3 file.

`
System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at TagLib.Id3v2.RelativeVolumeFrame.ParseFields(ByteVector data, Byte version)
   at TagLib.Id3v2.FrameFactory.CreateFrame(ByteVector data, File file, Int32& offset, Byte version, Boolean alreadyUnsynched)
   at TagLib.Id3v2.Tag.Parse(ByteVector data, File file, Int64 po

[2021-10-10 12:29] Vasilich commented on #270
pls put sample files with that error reproducible onto some hosting without expiration date. Mention, that this is an open source project, and developers can work on issues only when they have time.

[2021-10-21 06:05] Miner-2021 opened #273 "UseBrokenLatin1Behavior"
ByteVector.cs

2460	if (use_broken_latin1)
2461				return Encoding.Default;

On .NET Core, the Default property always returns the UTF8Encoding
In .NET Framework - ANSI

does UseBrokenLatin1Behavior work correctly in both cases?

[2021-10-26 20:59] Aionir opened #274 "Invalid tag info with m4a files"
For M4A files, TL# gets most of the tag info properly but when it comes to the properties BitsPerSample and AudioBitrate, they return 0. Also these files contain one image (Front Cover) but TL# reports the type as NotAPicture. I can still extract said image fine.

Several media players and tag editors show this info properly so I'm fairly certain there isn't an issue with the files or the way the

[2021-11-02 20:58] DanielSeara opened #277 "Mkv writing is not working"
### Discussed in https://github.com/mono/taglib-sharp/discussions/276

<div type='discussions-op-text'>

<sup>Originally posted by **DanielSeara** November  1, 2021</sup>
Hi. I was testing the library with several file types. Most of them works ok, but MKV files are not updated. Any Ideas?
TIA. /Dani</div>

[2021-11-03 14:02] Arlodotexe opened #278 "MissingMethodException on Uno WebAssembly"
When scanning a file on WebAssembly via Uno Platform, the following error is logged:

Full, minimal repro here:
[TagLibSharpOnUnoWasm.zip](https://github.com/mono/taglib-sharp/files/7468072/TagLibSharpOnUnoWasm.zip)

I've tested UWP and Android, both are working as expected. This issue only occurs when running in the browser.

[2021-11-07 12:39] Arlodotexe commented on #278
Wrapping the method call in a try/catch gives us a bit more insight:

[code]

[2021-11-07 14:27] Arlodotexe commented on #278
As a temporary workaround, you can prevent TagLib from using `Activator.CreateInstance` by creating your own FileTypeResolver.

[code]

[2021-11-07 18:47] hippogamesunity opened #279 "Unity support"
Hello! Please consider replacing reflection `(File) Activator.CreateInstance` to make this library compatible with Unity game engine.

[2021-11-07 18:51] hippogamesunity commented on #279
It throws `MissingMethodException: Constructor on type 'TagLib.Mpeg.AudioFile' not found.`, maybe because of Unity's lib stripping. Anyway, it works if I just put C# source code to Unity projects instead of DLL.

Tested on Android, iOS, Windows, UWP, works like a charm.

[2021-11-07 18:52] hippogamesunity commented on #279
https://docs.unity3d.com/Manual/ManagedCodeStripping.html

[2021-11-07 18:55] hippogamesunity commented on #279
![image](https://user-images.githubusercontent.com/7318172/140658035-d519f4fa-14be-4251-982e-025ea7284042.png)

[2021-11-23 22:13] guzelonur commented on #138
I successfully have managed to add TagSharp-Lib .NET 4.5 DLL as reference to my existing .NET 4.0 (VS 2010) project without any warning or error. Surprised as I was very hopeless as I first noticed that 2.2.0 is supposed to contain only .NET 4.5 assembly. How could this be possible?

[2021-11-24 14:51] guzelonur opened #282 "Crash with MP3 files with no tag"
Hi there,

I came across an issue with some of my very old mp3 files that cause crash at Create() method when they're passed as parameter. Then I decided to inspect them and found that they have NO metadata (ID3 tags) at all.

Additionaly, I passed a file with ID3 (v1 and v2) tag on Create method just fine. To test the behaviour, I removed its tag using TagLib Sharp's RemoveTags method, then saved

[2021-12-30 12:42] Mailaender commented on #116
The README also mentions autotools which seem to have been removed.

[2022-01-18 15:20] hinterlandcreative opened #283 "Not supporting Rotation metadata (showing incorrect height and width)"
Videos recorded on iOS and Android both record the orientation of the device (portrait or landscape) in the `Rotation` metadata flag. See notes here: https://blog.addpipe.com/mp4-rotation-metadata-in-mobile-video-files/

This means that a vertical video with dimensions of 1920x1080 will have it's height and width in the mp4 as 1080x1920 and the rotation metadata set as 90˚.

![](https://blog.addpi

[2022-01-27 14:40] SmokinLeather commented on #79
Hi,
Any update on this one?

[2022-01-30 15:39] c72578 commented on #165
Here is a suggestion for a workaround in a downstream application, modifying **`src\TaglibSharp\Flac\Picture.cs`**, in order to get `Width`, `Height` and `ColorDepth` tags also when using `TagLib.IPicture`:

[code]
Remark: Not intended to be merged into taglib-sharp, but can be used as a patch.

[2022-02-13 06:53] SSiefert commented on #182
I'm encountering the same issue. The first time I can change the properties - if I run the code the second time an error occurs "File is not writeable" and the corruption error is "Size of entries exceeds possible data size".

[code]

[2022-02-18 13:41] jamsoft commented on #206
Bump ... anyone?

[2022-02-23 06:47] vrdriver commented on #234
Sorry it's been so long, but I wasn't able to find a way to add custom APE tags to a WAVE file in the end.

[2022-02-26 08:27] VarSell opened #285 "Reading/Writing Chapters"
Hi,
May I ask if reading / writing chapters to anf from a file is supported? I've tried searching up, but could not find anything relating to that in TagLib

[2022-02-27 12:50] Starwer commented on #285
Hi @VarSell,
there is no such a ready-to-use facility in TagLib#. You can access low-level tag definitions and then read/write chapters infos into that, but you'll have to understand what the format of this is, and do that (differently) for each format you want to support.

[2022-02-28 07:08] VarSell commented on #285
Okay, thanks for the explanation:)

[2022-02-28 07:08] #285 closed

[2022-03-05 19:46] benrr101 opened #286 "What Checksum Algorithm?"
This is more of a question that might turn into an issue than an outright issue.

Still working on my port of taglib-sharp to node, and I was wondering if I could substitute a CRC library for having the big CRC table in the `ByteVector` class. However, when I compared the output of the CRC library with the output of the taglib-sharp, the values don't match. Which leads me to ask **what checksum al

[2022-03-14 08:43] Miner-2021 opened #287 "doesn't read tags from mp3"
Hi!
mediainfo show tags.
taglib# doesn't read tags.

sample file  https://en.files.fm/u/gpwe5h3g5

[2022-03-14 10:29] Vasilich commented on #287
Cannot confirm:
![TagLib1](https://user-images.githubusercontent.com/1168434/158154405-aab5be21-bfcf-4d00-a55a-6fb091c09412.png)

[2022-03-14 11:49] Miner-2021 commented on #287
thanks
probably my error
something is wrong with CTOC

https://i116.fastpic.org/big/2022/0314/b0/847c29aabd40c8b05f170ab9fb0e2db0.png
https://i116.fastpic.org/big/2022/0314/e2/593956e8c3f95e51b9996b05171c50e2.png

[2022-03-18 06:10] Miner-2021 commented on #287
highly likely the file  has the wrong tags.
step by step

read CTOC
Id3v2\FrameFactory.cs
![Снимок1](https://user-images.githubusercontent.com/85337526/158946368-c71429e6-d0a8-419e-9001-86fe80e451a7.PNG)
parse
\Id3v2\Frames\TableOfContentsFrame.cs
![Снимок2](https://user-images.githubusercontent.com/85337526/158946407-5d1626b4-0eae-4aef-829b-ab2e286e6e96.PNG)
error
ByteVector.cs
![Снимок3](https:/

[2022-03-27 04:12] JuLights opened #288 "h"
s

[2022-03-27 04:12] #288 closed

[2022-03-30 18:09] carrzkiss commented on #79
Read my reply from.
June, 8 2020

It not idea, but it works.
I simply use it for getting the duration.

[2022-04-04 12:57] GRMorgan opened #289 "MKV files without a pre-existing Episode/Track tag section do not store Track/Title properly"
Episodic video tag structure in MKV is:

1. Collection (70)
    1. TITLE (maps to Album)
2. Volume (60)
    1. PART_NUMBER (maps to Disc)
3. Episode (50)
    1. TITLE (maps to Title)
    3. PART_NUMBER (maps to Track)

Track music tag structure is:

1. Collection (70)
2. Album (50)
    1. TITLE (maps to Album title)
3. Part (40)
    1. PART_NUMBER (maps to Disc)
4. Track (30)
    1. TITLE (maps to

[2022-04-04 12:59] GRMorgan commented on #289
I don't actually mind putting together a PR to fix this myself. I just thought I'd check with you guys that you are happy that what I've said above is correct before I go away and do a bunch of work that might end up touching on an issue that is already known about and preferred.

[2022-04-06 20:33] Starwer commented on #289
Hi @GRMorgan,

Unfortunatly, I couldn't reproduce the problem.
At least that's a good test-idea. I've developped a test to reproduce the problem you reported.
Here is the snippet, with tmp_file being an mkv file:
[code]

The intermediate file saved shows that no Matroska `Tags` remain after the first `tmp.Save()`.
After the second `tmp.Save()`, here is what I could observe on the mkv file:

![imag

[2022-04-06 23:03] GRMorgan commented on #289
Interesting. I'll see if I can get hold of the original file that caused this issue tomorrow. I've since manually forced it to do what I expect by casting and forcing the right tags in so I'll need to find a backup.

I suspect this is not failing because clear does not actually clear. It preserves the tag represented by the property Medium and puts it back in the collection.

[code]

Medium in tur

[2022-04-07 08:54] GRMorgan commented on #289
I've managed to create a file with this problem. As expected it comes when a file only has the 70 level tag. I confirmed that if you clear a normal file it leaves the DEFAULT or lowest level tag with null Elements so any working file you try and manufacture this problem on will naturally fail.

I additionally found issues if there was a file that had level 50 and lower tags but all of them contain

[2022-04-07 08:55] Starwer commented on #289
Beware that in Matroska, `Tags` and `Tag` are two different things. `Tags` is unique EBML element and contains all the `Tag` EBML elements, each `Tag` representing a target level (70, 60, 50...). The `ClearItems ()` method you showed will effectively clear every `Tag` content, then it will remove every `Tag` references it lists, keeping only the medium one which has been cleared in the foreach loo

[2022-04-07 08:59] GRMorgan commented on #289
Yeah I got to the bottom of what was going on earlier. The point is more explaining why you're struggle to create a file with the issue, it defaults to leaving a tag level 50 in the file and if that exists then the bug doesn't appear . The specifics of how the tag library functions means that it basically cannot break an MKV file so that the tagging bug appears. I had to do some interesting things

[2022-04-07 09:24] GRMorgan commented on #289
Interestingly if I run the test twice on the 70 level file (i.e. run it on the output of the first test) the level 60 item suddenly appears and the title/album issue (but not the disc/track issue) goes away.

[2022-04-07 15:10] Starwer commented on #289
Ok, in that case I can make sense of what happens. In case you only have one `Tag` without any `Chapter UID`, TagLib# will assume that this tag represents the medium (video, file) entirely. This might sound silly, but that something which is perfectly forseen in Matroska: see the "One file with all DVDs" case in this [Official Matroska page](https://www.matroska.org/technical/tagging-video-example

[2022-04-08 14:58] GRMorgan commented on #289
If you're happy this is working as intended I'm happy to close this. It isn't hard for me to do a quick query to fix the tags, it just seemed odd behaviour. If anyone else runs into this issue the code I'm running to fix the tags is

[code]

The discards are fine here as the constructor adds the tag to the Tags collection anyway. I have no idea if this behaviour is an officially supported use case

[2022-04-08 14:58] #289 closed

[2022-05-06 10:46] Weissu opened #290 "SAVE freezes inconsistently"
SAVE freezes inconsistently on FLAC files.

The following lines are enough to freeze.

    using TagLib.File tagFile = TagLib.File.Create(fileAbstraction);
    tagFile.Save();

But if make code like following and catch error:

    using TagLib.File tagFile = TagLib.File.Create(fileAbstraction);
    Task WriteTagsTask = Task.Run(() =>
    {
        try
        {
            tagFile.Save();

[2022-05-23 12:30] Vasilich commented on #290
have you tried to disable antivirus, or check it on other PC without antivirus installed or it disabled?

[2022-05-23 14:16] Weissu commented on #290
Yes, I've tried. But unfortunately, it didn't help :(

[2022-06-17 07:01] jamsoft opened #291 "NuGet Update?"
Hi All,

Are there any plans to publish a 2.3? The nuget is now nearly 3 years old.

[2022-06-18 08:51] igor-rif-shevchenko commented on #291
@decriptor @akoeplinger  can anyone do the update? I was asking about it for couple months...

[2022-06-22 07:57] jamsoft commented on #291
Bump. Anyone?

[2022-06-27 20:39] decriptor commented on #291
My apologies. I'll follow up on this this evening after work.

[2022-06-28 10:25] BourgeoisDirk opened #292 "Strange bug with adding a Picture using "AlbumArtists" vs "Performers""
I'm having some strange behavior with Adding the Picture...
It sometimes does not show up consistently, across converting an entire Album (list of MP4 files).
The same Tags are always used: Title, Artist, Album, Year, Picture ...
E.G.: I set the Artist to Robin Williams (each download shows the Image), I set the Artist to James Horner (none of the downloads show an Image), I only set Artist to Jam

[2022-06-28 21:41] jamsoft commented on #291
No problem peeps. Thanks. Just would be good to get all the work rolled up and packaged.

[2022-07-08 17:12] decriptor commented on #291
@igor-rif-shevchenko my apologies. Just trying to get through some deadlines at work first. I should have some time next week. If you could ping me on Tuesday next week to remind me that'd be great.

[2022-07-08 17:37] igor-rif-shevchenko commented on #291
Will do, thank you!

[2022-07-13 03:11] igor-rif-shevchenko commented on #291
@decriptor it's Tuesday)

[2022-07-20 08:16] igor-rif-shevchenko commented on #291
@decriptor perhaps someone else can back you up while you're busy?

[2022-07-22 14:24] decriptor commented on #291
@igor-rif-shevchenko sorry, I think I finally unburied myself a bit. I should have this knocked out by this weekend. I'll update this as soon as it goes live.

[2022-07-25 19:31] leunMar commented on #188
This is still an issue. .The Readme needs an update.

[2022-07-25 19:36] leunMar opened #296 "Readme outdated: Linux build command"
The Readme section https://github.com/mono/taglib-sharp#to-build-from-git is outdated since `make` is no longer used.

See #188

[2022-07-27 18:26] igor-rif-shevchenko commented on #291
![just-waiting-for-dfbe76cfed](https://user-images.githubusercontent.com/16201350/181345409-106066c8-e406-4a99-a5d7-ff9967d3d3a2.jpg)

[2022-07-29 12:55] jamsoft commented on #291
Even the Wookie has died!!!!!!!!!!!!!!!!!!!!

[2022-07-29 15:08] igor-rif-shevchenko commented on #291
A little humor while we wait)
![1858e0fbc8bbc26d6990fe6467915669--jim-carey-daily-inspiration](https://user-images.githubusercontent.com/16201350/181789195-d4a0d5bd-925b-44b5-92d5-7281ddc10e2b.jpg)

[2022-07-29 21:02] #296 closed

[2022-07-30 00:11] decriptor commented on #291
ok, that is hilarious, and I absolutely loved the humor!!!!

So, without further delay, I finally published a new release :)

https://github.com/mono/taglib-sharp/releases/tag/TaglibSharp-2.3.0.0
https://www.nuget.org/packages/TagLibSharp/2.3.0

[2022-07-30 00:11] #291 closed

[2022-07-31 09:49] jamsoft commented on #291
Nice work dude. Will get on and check it asap.

[2022-08-01 12:27] PeterCodar opened #304 "MusicBrainz: Wrong Frame used for "MusicBrainz Track Id""
Currently, the tag "MusicBrainzTrackId" will be GET and SET with a UFID called "http://musicbrainz.org".
https://github.com/mono/taglib-sharp/blob/a3b56762f5b69d7c6a2077db0141a6a05c1cba6b/src/TaglibSharp/Id3v2/Tag.cs#L1976

According to the official [MusicBrainz tag mapping informations](https://picard-docs.musicbrainz.org/en/appendices/tag_mapping.html#id24), the "MusicBrainzTrackId" should be SE

[2022-08-12 10:38] itsAbhi650 opened #306 "Cannot write tags to a newly created m4a files."
I'm trying to write tags in m4a files but it keeps on failing with the error message: **Box header specified a size of 2439118719 bytes but only 1477844 bytes left in the file**.

First I'm taking an audio file (m4a). Then taking a cut out from that audio and saving it in a different file. Then, that separate file is taken up by TagLib to update the tags.

Below is the code I've created:
[code]
I'

[2022-08-12 20:05] itsAbhi650 commented on #306
This is to tell that I've tried other editors they are able to change the tags but not TagLib because of the error.

[2022-08-15 06:05] itsAbhi650 commented on #306
Ok, after testing it a few more times I found that [Mp3Tag](https://www.mp3tag.de/en/) is also not able to write tags into the file with the following error:
![image](https://user-images.githubusercontent.com/68587067/184583839-e08d5128-097b-4a3d-a788-cd2bc5778d94.png)

And TagLib (as usual) is failing with this error:
![image](https://user-images.githubusercontent.com/68587067/184584115-077840e0-

[2022-08-18 13:50] LiamYuan commented on #120
I  hope  Read/Write  Adobe  XMP。

[2022-08-18 15:04] LiamYuan commented on #120
![QAR5RV2)TD$RI@9OZQAU)8S](https://user-images.githubusercontent.com/25397771/185428463-4368e73c-9ad9-4ace-b460-85bf98727d9a.png)
![9LF)K J1RWOL~W@8WRF7X5G](https://user-images.githubusercontent.com/25397771/185428805-da229c40-cc53-4437-a45b-6d26f8294a41.png)

[2022-08-21 14:35] PeterCodar opened #307 "Problem with windows full path longer then 255 characters"
If a windows full path is longer then 255 characters, this two `System.IO.File.Open`

https://github.com/mono/taglib-sharp/blob/c7b14f2555c626023437f29527a8743dd9eebbe2/src/TaglibSharp/File.cs#L1586
https://github.com/mono/taglib-sharp/blob/c7b14f2555c626023437f29527a8743dd9eebbe2/src/TaglibSharp/File.cs#L1600

ends in an error **System.IO.DirectoryNotFoundException**: "Could not find a part of th

[2022-08-30 13:42] ygoe opened #308 "Slash in performer is not stored correctly"
I've set single performer names in my files like "AC/DC" or "Au/Ra" and they are not handled correctly. When reading back the file to detect necessary changes, they appear as two performers with "AC" and "DC" or two "Au" and "Ra". What's the problem here and how can it be fixed?

Version 2.3.0, observed with MP3 and AAC files, using the example code

[2022-09-01 06:29] Miner-2021 opened #309 "AIFF tags"
taglib does not find tags in some files. This is probably due to the size of chunks. Specification: ckData contains the data stored in the chunk. The format of this data is determined by ckID. If the data is an odd number of bytes in length, a zero pad byte must be added at the end. The pad byte is not included in ckSize. Taglib doesn't take this into account.
taglib-sharp/src/TaglibSharp/Aiff/Fil

[2022-10-02 08:26] onionware-github opened #310 "Changing tags corrupts MP4 videofile"
When I try to change the tags of a downloaded video from TikTok with yt-dlp, it corrupts the file. Curiously, the problem occurs with TikTok videos. When I change the tags with EasyTAG it works. So I think the problem is with taglibsharp. If I manually reencode the video (h264) after downloading it, I don't get any problems changing the tags with TagLibSharp.

Steps to reproduce:

1. Download a vi

[2022-10-03 07:14] jwaltrip4 opened #311 "Exception calling "Save" with "0" argument(s): "File not writeable. Corrupt metadata?""
I get this when I save..... any thoughts?

[2022-10-04 11:50] PeterCodar opened #312 "New added support for IPLS only works partially"
https://github.com/mono/taglib-sharp/pull/208 has added (partially) IPLS Support.

The IPLS frame will no longer be detected as _UnknownFrame_ but as _TextInformationFrame_.
Unfortunately, this does not fully work and don't return all available text.

To reprocude:
Add a new IPLS tag to an example song, for example in a tagging program like Mp3tag use INVOLVEDPEOPLE
Add a value like this:
`author:

[2022-10-06 01:39] coddoge opened #313 "Audio Sample Rate wrong for aac in m4a, actual 96kHz but show 30464 Hz"
I have a 96kHz m4a file, show in Media info below

[code]

But read by taglib it's Audio Sample Rate wrong

[code]

[code]

[code]

[2022-10-22 12:29] arkovda commented on #259
I have the same problem and a workaround is to modify the Keywords by Windows explorer before using TagLib.

[2022-11-18 11:51] ackava opened #314 "Can we use this library to change moov position to beginning? (faststart)"
I know we can read MP4, but can we move MOOV record from end to beginning?